

.submitVideo_container {
  padding-top: 50px;
  padding-left: 66px;
  padding-bottom: 60px;
  &_title {
    h2 {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 48px;
      letter-spacing: -1px;

      /* Dark Purple */

      color: #261A45;
      margin: 0;
    }
  }

  &_record {
    h2 {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 27px;
      line-height: 33px;
      margin-bottom: 30px;
      /* identical to box height */
      margin-top: 60px;
      letter-spacing: -1px;

      /* Dark Purple */

      color: #261A45;
    }

    &_row {
      display: flex;  
      gap: 58px;

      .record_left {
        .video_player_background {
          width: 500px;
          height: 300px;
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 30px;
          img {
            width: 84px;
            height: 84px;
            cursor: pointer;
          }
        }

        .recording_button {
          background: #FFFFFF;
          /* Border Gray */
          width: 500px;
          font-family: 'Inter';
          font-style: normal;
          font-weight: 600;
          font-size: 15px;
          line-height: 18px;
          letter-spacing: -0.2px;

          /* Dark Purple */

          color: #261A45;
          padding: 15px 0;
          border: 1px solid #DEDEE1;
          border-radius: 10px;
          margin-bottom: 40px;
          cursor: pointer;
          .record_icon {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            margin-right: 10px;
            display: inline-block;
            background: #FF3434;
          }
        }

        .record_youtube {
          p {
            margin-top: 0;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 18px;
            letter-spacing: -0.3px;

            /* Light Gray */
            margin-bottom: 15px;
            color: #646481;

          }

          &_row {
            display: flex;
            gap: 10px;
            margin-bottom: 35px;

            input {
              background: #FFFFFF;
              /* Border Gray */
              padding: 13px 0;
              padding-left: 15px;
              width: 380px;
              border: 1px solid #DEDEE1;
              border-radius: 10px;
            }

            button {
              background: #FFFFFF;
              /* Border Gray */
              padding: 15px 0;
              font-family: 'Inter';
              font-style: normal;
              font-weight: 600;
              font-size: 15px;
              line-height: 18px;
              letter-spacing: -0.2px;

              /* Dark Purple */
              width: 110px;
              color: #261A45;
              border: 1px solid #DEDEE1;
              border-radius: 10px;
            }
          }
        }

        .record_footer_buttons {
          display: flex;
          gap: 10px;

          button {
            width: 245px;
            padding: 15px 0;
            cursor: pointer;
            &:nth-child(1) {
              font-family: 'Inter';
              font-style: normal;
              font-weight: 600;
              font-size: 15px;
              line-height: 18px;
              letter-spacing: -0.2px;

              /* Dark Purple */
              background: #FFFFFF;
              /* Border Gray */
              
              border: 1px solid #DEDEE1;
              border-radius: 10px;
              color: #261A45;
            }

            &:nth-child(2) {
              font-family: 'Inter';
              font-style: normal;
              font-weight: 600;
              font-size: 15px;
              line-height: 18px;
              letter-spacing: -0.2px;
              
              /* White */
              
              /* Border Gray */

              background: #DEDEE1;
              border-radius: 10px;
              color: #FFFFFF; 
              &:hover {
                background: #6133AF;
              }
            }
          }
        }
      }

      .record_right {
        
        .instruction_card {
          width: 440px;
          height: auto;
          /* White */

          background: #FFFFFF;
          /* Border Gray */

          border: 1px solid #DEDEE1;
          border-radius: 10px;
          padding: 30px;
          h3 {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: -0.7px;
            margin-top: 0;
            /* Purple */
            margin-bottom: 15px;
            color: #6133AF;
          }
          p {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
            /* or 144% */

            letter-spacing: -0.7px;

            /* Light Gray */

            color: #646481;
          }

          iframe {
            height: 250px;
            width: 100%;
            border: 0.916667px solid #DEDEE1;
            border-radius: 10px;
          }
        }
      }
    }
  }
}