@tailwind components;

@layer components {
  .btn {
    @apply flex
    items-center
    justify-center
    cursor-pointer 
    px-[15px]
    h-12
    rounded-lg
    font-semibold 
    text-sm
    tracking-[-0.2px]
    leading-[18px]
    /* disabled:opacity-60  */
    disabled:cursor-not-allowed
    disabled:bg-[#DEDDDF]
    disabled:text-[#AAA8A8]
    focus:border-color-light-blue 
    focus:shadow-[0_0_0_0.25rem_rgba(13,110,253,0.25)]
    transition 
    ease-in-out 
    duration-300
    select-none
    outline-none;
  }

  .clear {
    /* @apply bg-[#F7F8FA]; */
    @apply bg-transparent;
  }

  .purple {
    @apply text-white 
    bg-color-purple;
  }

  .dark_purple {
    @apply text-white 
    bg-color-dark-purple;
  }

  .dark_purple {
    @apply text-white 
    bg-color-dark-purple;
  }

  .gray {
    @apply text-color-dark-purple 
    bg-gray-100;
  }

  .outline {
    @apply bg-white 
      text-color-dark-purple 
      border 
      border-solid 
      border-color-border-grey
      hover:enabled:bg-color-purple
      hover:enabled:text-white;
  }
}
