
.profile-wrapper {
  margin-bottom: 0 !important;
}

.main-dashboard {
  padding-bottom: 0 !important;
  .flex-container {
    .profile_section {
      padding: 9px 60px;
      .profile_banner {
        .profile_banner-top {
          background: #7048E8;
          border-radius: 10px 10px 0px 0px;
          width: 605px;
          height: 150px;
          position: relative;
          img {
            position: absolute;
            width: 140px;
            height: 140px;
            left: 5%;
            cursor: pointer;
            top: 55%;
            object-fit: cover;
          }
        }
      
        .profile_banner-bottom {
          width: 605px;
          height: 150px;
          border: 1px solid #DEDEE1;
          border-radius: 0px 0px 10px 10px;
          padding-top: 15px;
    
          .profile_main-info {
            width: 68%;
            margin-left: auto;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            
            .main_info-left {
              h2 {
                cursor: pointer;
                margin-top: 0;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 30px;
                line-height: 36px;
                letter-spacing: -1px;
                /* Dark Purple */
                color: #261A45;
                margin-bottom: 10px;
              }
    
              p{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                margin-top: 0;
                line-height: 24px;
                letter-spacing: -0.6px;
                margin-bottom: 10px;
                /* Purple */
    
                color: #6133AF;
    
              }
    
              span {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 15px;
                line-height: 18px;
                letter-spacing: -0.6px;
    
                /* Light Gray */
    
                color: #646481;
    
              }
            }
            
            .main_info-right {
              button {
                margin-right: 15px;
                background: #FFFFFF;
                /* Border Gray */
                cursor: pointer;
                padding: 15px 15px;
                border: 1px solid #DEDEE1;
                border-radius: 5px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 15px;
                line-height: 18px;
                letter-spacing: -0.2px;
    
                /* Dark Purple */
    
                color: #261A45;
    
    
              }
            }
          }
        }
      }
  
      .edit_summary {
        margin-top: 30px;
        header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 20px;
          h2 {
            margin-top: 0;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: -0.6px;
            margin-bottom: 0;
            /* Dark Purple */
            
            color: #261A45;
          }
  
          button {
            background: #FFFFFF;
            /* Border Gray */ 
            font-family: 'Inter';
            padding: 10px 10px;
            cursor: pointer;
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 18px;
            letter-spacing: -0.2px;
  
            /* Dark Purple */
  
            color: #261A45;
  
  
            border: 1px solid #DEDEE1;
            border-radius: 5px;
          }
        }
  
        p {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 500;
          font-size: 15px;
          line-height: 18px;
          letter-spacing: -0.3px;
          margin-top: 0;
          margin-right: 18%;
          margin-bottom: 25px;
          /* Light Gray */
  
          color: #646481;
        }
      }
  
      .edit_interests {
        margin-top: 30px;
        h2 {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 500;
          margin-top: 0;
          margin-bottom: 0;
          font-size: 20px;
          line-height: 24px;
          letter-spacing: -0.6px;
  
          /* Dark Purple */
  
          color: #261A45;
        }
  
        .row_interests {
          margin-top: 20px;
          display: flex;
          gap: 20px;
          .topics {
            display: flex;
            gap: 20px;
            button {
              height: 38px;
              font-family: 'Inter';
              font-style: normal;
              font-weight: 600;
              font-size: 15px;
              line-height: 18px;
              display: flex;
              cursor: pointer;
              align-items: center;
              letter-spacing: -0.6px;
              padding: 10px;
              /* White */
    
              color: #FFFFFF;
    
              /* Light Gray */
    
              background: #646481;
              border-radius: 8.125px;
            }
          }
          button {
            background: #FFFFFF;
            /* Border Gray */
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 18px;
            display: flex;
            align-items: center;
            letter-spacing: -0.6px;
  
            /* Dark Purple */
  
            color: #261A45;
            cursor: pointer;
            padding: 10px;
            border: 1px solid #DEDEE1;
            border-radius: 8.125px;
  
          }
        }
      }
  
      .enrolled_course {
        margin-top: 30px;
  
        h2 {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          margin-top: 0;
          margin-bottom: 0;
          line-height: 24px;
          letter-spacing: -0.6px;
  
          /* Dark Purple */
  
          color: #261A45;
        }
  
        .enrolled_col {
          margin-top: 20px;
  
          .course_card {
            display: flex;
            align-items: center;
            background: #FFFFFF;
            gap: 20px;
            /* Border Gray */
            margin-bottom: 15px;
            border: 1px solid #DEDEE1;
            border-radius: 10px;
            padding: 20px 20px;
  
            h3 {
              font-family: 'Inter';
              font-style: normal;
              font-weight: 600;
              font-size: 20px;
              line-height: 24px;
              letter-spacing: -0.6px;
              cursor: pointer;
              /* Dark Purple */
  
              color: #261A45;
              margin:0;
            }
  
            .lesson_button {
              height: 38px;
              /* Purple */
              padding: 10px;
              background: #6133AF;
              border-radius: 8.125px;
              font-family: 'Inter';
              font-style: normal;
              font-weight: 600;
              font-size: 15px;
              line-height: 18px;
              display: flex;
              align-items: center;
              letter-spacing: -0.6px;
  
              /* White */
              cursor: pointer;
              color: #FFFFFF;
            }
  
            .time_button {
              height: 30px;
  
              /* Purple Light */
              cursor: pointer;
              background: #EBE4FF;
              border-radius: 8.125px;
              font-family: 'Inter';
              font-style: normal;
              font-weight: 600;
              font-size: 15px;
              padding: 6px 10px;
              line-height: 18px;
              display: flex;
              align-items: center;
              letter-spacing: -0.6px;
              /* Purple */
  
              color: #6133AF;
  
  
  
            }
  
            .remaining_button {
              height: 38px;
  
              /* White */
  
              background: #FFFFFF;
              /* Border Gray */
  
              border: 1px solid #DEDEE1;
              border-radius: 8.125px;
              font-family: 'Inter';
              font-style: normal;
              font-weight: 600;
              font-size: 15px;
              line-height: 18px;
              display: flex;
              align-items: center;
              letter-spacing: -0.6px;
              cursor: pointer;
              padding: 10px;
              /* Dark Purple */
  
              color: #261A45;
            }
          }
        }
      }
    }
  
  
    .favorite_section {
      margin-top: 10px;
      padding:0px 30px;
      h2 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 30px;
        letter-spacing: -0.6px;
  
        /* Light Gray */
  
        color: #646481;
  
      }
  
      .favorite_col {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap:20px;
  
  
        .favorite_card {
          background: #FFFFFF;
          /* Border Gray */
  
          border: 1px solid #DEDEE1;
          border-radius: 10px;
          width: 370px;
          padding: 20px;
          display: flex;
          justify-content: space-between;
          align-items: center;
  
          .favorite_card-left {
            h3 {
              font-family: 'Inter';
              font-style: normal;
              font-weight: 400;
              font-size: 30px;
              line-height: 36px;
              letter-spacing: -0.6px;
              margin-bottom: 0;
              margin-top: 0;
              /* Purple */
              cursor: pointer;
  
              color: #6133AF;
  
            }
            p{
              font-family: 'Inter';
              font-style: normal;
              font-weight: 600;
              font-size: 17px;
              line-height: 21px;
              /* identical to box height */
              margin-bottom: 0;
              letter-spacing: -0.6px;
              margin-top: 5px;
              /* Light Gray */
  
              color: #646481;
  
            }
          }
  
          .favorite_card-right {
            img {
              width: 65px;
              height: 65px;
              cursor: pointer;
            }
          }
        }
      }
  
    }
  
    .details {
      margin-top: 30px;
      padding: 0 30px;
  
      h2 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 30px;
        letter-spacing: -0.6px;
        cursor: pointer;
        /* Light Gray */
  
        color: #646481;
  
        margin-top: 0;
        margin-bottom: 0;
      }
  
      .details_col{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
  
        .details_list {
  
          h4 {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: -0.6px;
            margin-top: 0;
            margin-bottom: 10px;
            /* Dark Purple */
    
            color: #261A45;
    
          }
  
          p {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: -0.6px;
            margin-top: 0;
            margin-bottom: 0;
            /* Purple */
  
            color: #6133AF;
          }
        }
      }
  
    }
  }
}
