.tutors_section {
  padding: 30px 60px;

  .tutors_title {
    h1 {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 48px;
      letter-spacing: -1px;

      /* Dark Purple */

      color: #261A45;

    }

    p {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: -0.6px;

      /* Light Gray */

      color: #646481;

    }
  }

  .tutors_filters {
    display: flex;
    gap: 10px;
    select {
      width: 105px;
      height: 38px;
      font-family: "Inter";
      padding: 0px 15px;
      background: #FFFFFF;
      /* Border Gray */

      border: 1px solid #DEDEE1;
      border-radius: 5px;

      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: -0.2px;

      /* Dark Purple */

      color: #261A45;

      /* Inside auto layout */

      flex: none;
      order: 1;
      cursor: pointer;
      flex-grow: 0;

     
      
    }

    .tutors_show {
      width: 245px;
      height: 38px;
      font-family: "Inter";
      cursor: pointer;
      background: #FFFFFF;
      padding: 0 15px;
      /* Border Gray */

      border: 1px solid #DEDEE1;
      border-radius: 5px;

      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: -0.2px;

      /* Dark Purple */

      color: #261A45;
      
      /* Inside auto layout */

      flex: none;
      order: 1;
      cursor: pointer;
      flex-grow: 0;
      label {
        display: flex;
        align-items: center;
        input {
          margin-right: 5px;
          background: #FFFFFF;
          width: 20px;
          height: 20px;
          /* Border Gray */
  
          border: 1px solid #DEDEE1;
          border-radius: 5px;
          cursor: pointer;
        }
      }

     

    }
  }

  .tutors_row {
    display: flex;
    margin-top: 40px;
    gap: 2rem;
    flex-wrap: wrap;
    row-gap: 4rem;

    .tutors_card {
      width: 300px;
      height: 505px;
      .tutors_card-img {
        height: 80%;
        border-radius: 10px;
        width: 100%;
        cursor: pointer;
        position: relative;

        img {
          position: absolute;
          top: 5%;
          right: 5%;
          width: 40px;
          height: 40px;
          object-fit: cover;
        }
      }

      .tutors_card-body {
        display: flex;
        align-items: flex-start;
        margin-top: 30px;
        justify-content: space-between;

        .tutors_info {
          h2 {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 30px;
            margin-top: 0;
            line-height: 36px;
            letter-spacing: -0.6px;
            margin-bottom: 15px;
            /* Purple */
            cursor: pointer;
            color: #6133AF;
          }
          p{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 18px;
            letter-spacing: -0.2px;
            margin-bottom: 0;
            margin-top: 0;
  
            /* Light Gray */
  
            color: #646481;
          }
          span {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 18px;
            letter-spacing: -0.2px;
  
            /* Light Gray */
  
            color: #646481;
          }
        }

        .tutors_control-buttons {
          display: flex;
          flex-direction: column;
          gap: 10px;

          button {
            height: 38px;
            width: 115px;
            background: #FFFFFF;
            /* Border Gray */

            border: 1px solid #DEDEE1;
            border-radius: 5px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 18px;
            letter-spacing: -0.2px;
            cursor: pointer;
            /* Dark Purple */

            color: #261A45;

            &:hover {
              background-color: #6133AF;
              color:white;
            }
          }
        }
      }
    }
  }
}