.ReactModal__Overlay {
  align-items: center;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content {
  opacity: 0;
  transform: scale(0);
  transition: all 300ms ease-in-out;
}

.ReactModal__Content--after-open {
  opacity: 1;
  transform: scale(1);
}

.ReactModal__Content--before-close {
  opacity: 0;
  transform: scale(0);
}

@media screen and (max-width: 414px) {
  .ReactModal__Content {
    width: 360px !important;
    bottom: -50% !important;
    transition: bottom 300ms ease-in-out;
  }

  .ReactModal__Content--after-open {
    bottom: 0 !important;
  }

  .ReactModal__Content--before-close {
    bottom: -50% !important;
  }
}
