.card {
  width: 100%;
  background: #1482da;
  padding: 20px;
  border-radius: 16px;
  color: white;
  display: flex;
  gap: 16px;
  &_icon {
    aspect-ratio: 1/1;
    border-radius: 8px;
    background: #054071;
    width: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      font-size: 48px;
    }
  }
  &_header {
    h3 {
      margin-top: 0;
      margin-bottom: 6px;
      color: white;
      font-size: 20px;
    }
    p {
      margin-top: 0;
      margin-bottom: 10px;
    }
  }
  &_link_body {
    margin-top: 12px;
    margin-bottom: 4px;
  }
  &_body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  &_link {
    display: block;
    max-width: 400px;
    width: 100%;
    padding: 4px 12px;
    border-radius: 4px;
    color: #1482da;
    background: #fff;
    i {
      margin-right: 8px;
    }
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
