
.edit-profile-modal {
  width: 500px;
  border-radius: 10px;
  padding: 60px;
  

  h3 {
    color: black;
    margin: 0;
    font-size: 20px;
  }
  h4 {
    color: #6134af;
    margin: 0;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
  }

  .avatar-block {
    position: relative;
    text-align: center;
    button {
      background: none;
      position: absolute;
      font-size: 30px;
      cursor: pointer;
    }
    
    img {
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 100%;
      cursor: pointer;
    }

    .file_upload {
      .previewImg {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 100%;
        cursor: pointer;
      }


      .edit-icon {
        position: absolute;
        font-size: 30px;
        cursor: pointer;
      }
  
      input {
        display: none;
      }
    }

    
  }

  .header {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      height: 22px;
      width: 22px;
      background: none;
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      transition: 0.1s ease-in-out;    
    }
    
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .scroll-form {
      label {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
        /* identical to box height, or 133% */
  
        letter-spacing: -0.2px;
  
        /* Dark Purple */
        display: flex;
        flex-direction: column;
        color: #261A45;
      }
  
      section {
        margin-top: 15px;
        input {
          margin-top: 10px;
          background: #FFFFFF;
          padding: 15px;
          /* Border Gray */
  
          border: 1px solid #DEDEE1;
          border-radius: 5px;
        }
  
        select {
          margin-top: 10px;
          background: #FFFFFF;
          padding: 15px;
          /* Border Gray */
          color: #261A45;

          border: 1px solid #DEDEE1;
          border-radius: 5px;
        }
      }
    }


    button[type="submit"]{
      margin-top: 40px;
      padding: 10px;
      width:100%;
      border-radius: 5px;
      background: #6134af;
      color: white;
      font-weight: bold;
    }
  }
}

