@import './variable.scss';
.time_picker:focus {
  color: $color-purple1 !important;
  min-width: 100px !important;
}
.time_picker:focus {
  appearance: none !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  text-indent: 1px;
  text-overflow: '';
  background: url('../../assets/images/Vector-color.svg') no-repeat right 1.2rem
    center/1.100rem 4rem;
}
.time_picker:not(:focus) {
  appearance: none !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  text-indent: 1px;
  text-overflow: '';
  background: url('../../assets/images/Vector-arrow-less.svg') no-repeat right
    1.2rem center/1.100rem 4rem;
}
.time_picker * {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.5px;
  color: #261a45 !important;
}
.availability_to_text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.7px;
  color: #dedee1 !important;
  padding: 0 20px;
}
.border_align_rows {
  border-bottom: 1px solid #dedee1;
  margin-top: 20px;
  width: 100%;
}
.align-override-ui {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.dates-fetch {
  padding-bottom: 15px;
}
.aligns_row_time .row + .row {
  margin-top: 10px;
}
.date-alignframe .row + .row {
  margin-top: 10px;
  padding-left: 35px;
}
.rows_align {
  padding-left: 35px;
}
.align_day {
  align-self: flex-start;
  padding: 11px;
  font-size: 20px;
}
.align_Toggle {
  align-self: flex-start;
  margin-top: 10px;
}

.align_time_img-time {
  position: relative;
  width: 200px;
}
.btn {
  background: $color-white;
  border: 1px solid $color-border-white;
  box-sizing: border-box;
  border-radius: 5px;
  color: $color-black;
}

.btn-lg-tutor {
  width: 300px;
  height: 60px;
  left: calc(50% - 300px / 2 - 245px);
  top: 1339px;
  background: $color-white;
  border: 1px solid $color-border-white;
  box-sizing: border-box;
  border-radius: 10px;
}

.btn-sm-tutor {
  width: 300px;
  height: 40px;
  left: calc(50% - 300px / 2 - 245px);
  top: 1414px;
  background: $color-white;
  border: 1px solid $color-border-white;
  box-sizing: border-box;
  border-radius: 10px;
  color: #969696 !important;
}
.align-width_Availability {
  padding-left: 32px;
}
.border-availabilities {
  border-bottom: 1px solid $color-border-white;
  padding-left: 15px;
}

.border-availabilities-picker {
  border-bottom: 1px solid $color-border-white;
  align-items: center;
}

.border-availabilities-top {
  border-top: 1px solid $color-border-white;
}

.border-availabilities_right {
  border-right: 1px solid $color-border-white;
  padding-top: 30px;
  padding-left: 15px;
}

.form-switch .form-check-input {
  width: 48px;
  height: 25px;
}

// .form-switch .form-check-input:checked {
//   background-color: $color-purple1;
//   border-color: $color-purple1;
//   border: none;
//   background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>");
// }

.fa_trash_can {
  color: $color-border-white;
  border: 1px solid $color-border-white;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 5px;
}
.align_fa_trash {
  align-self: flex-end;
}
.fa_icon {
  flex: none;
  order: 0;
  flex-grow: 0;
  padding: 2px;
}

.time_picker {
  // border: 1px solid $color-border-white;

  .css-1s2u09g-control {
    // border-style: none;
    padding: 5px 0;
    font-weight: bold;
    color: #261a45;
    border-radius: 10px;
    box-sizing: border-box;
    // padding: 5px 11px !important;
    text-align: left !important;
    width: 200px !important;
    max-width: 100%;
  }

  .css-1pahdxg-control {
    padding: 5px 0;
    border-radius: 10px !important;
    font-weight: bold;
    text-align: left !important;
    width: 200px !important;
    max-width: 100%;
  }
}

.date_override_title {
  color: #261a45;
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  /* identical to box height */
  letter-spacing: -1px;
}
.date_override_text_color {
  color: $color-light-grey !important;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */

  letter-spacing: -0.6px;
}

// Modal CSS
.modal_title {
  color: $color-purple1;
}

.modal_text_wrapper {
  white-space: pre-wrap;
  overflow: hidden;
  max-width: 400px;
}

.modal_close_button {
  display: block;
  width: 100%;
  border-radius: 10px;
  max-width: 250px;
  height: 54px;
}

// Settings Page CSS
.sub_lessons_div {
  border: 1px solid $color-border-white;
  border-radius: 1em;
}

.sub_lessons_toggle {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
}

.google_sign_in {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

// Modal Override
.modal_save_button {
  display: block;
  width: 100%;
  background-color: $color-purple1;
  color: $color-white !important;
  border-radius: 10px;
  max-width: 250px;
  height: 54px;
}
.save_button {
  display: block;
  width: 15%;
  background-color: $color-purple1;
  color: $color-white !important;
  margin-top: 20px;
}

// date overrides text break inline size
.date_override_p1_break {
  inline-size: 20em;
  width: 86%;
  max-width: 100%;
}
.date_override_p2_break {
  inline-size: 16em;
  width: 86%;
  max-width: 100%;
}
.pickerToText {
  text-align: center;
  align-content: center;
  padding-top: 0 !important;
}

.plus_button {
  flex: none;
  order: 0;
  flex-grow: 0;
  padding: 2px;
}
.modalSize {
  width: 983px !important;
  height: 473px !important;
}
.date-alignframe {
  margin-top: 40px;
}

.dates-fetch {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.5px;
  color: #261a45;
  padding-left: 35px;
}
.selected-date {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.5px;
  color: #261a45;
  padding-left: 22px;
  padding-top: 30px;
}
._loading_overlay_content {
  top: 50%;
  left: 50%;
  position: fixed;
  font-size: 16px !important;
  font-family: Inter !important;
  color: #6133af !important;
  stroke: #6133af !important;
}
.css-50etie svg circle {
  stroke: #6133af !important;
}
.border-availabilities-right {
  border-right: 1px solid #dedee1;
  max-width: 75%;
}
.footer-columnwise {
  padding: 10px 10px;
  border-top: 1px solid #dedee1;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  width: 100%;
}
.align-self-centers {
  align-self: self-end;
}

.custom-height {
  height: 100%;
}
p.already-choose {
  font-weight: 500;
  font-size: 18px;
  padding: 0px 56px 0px 43px;
}

.over-ride-date {
  margin-top: 16px;
  max-height: 450px;
  overflow-y: auto;
  padding-bottom: 50px;
}
