.rbc-row-content {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.rbc-date-cell {
  text-align: center !important;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  align-items: center;
  letter-spacing: -0.6px;
}

.rbc-event {
  background-color: #6133af !important;
  font-family: Inter;
  font-style: normal;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.2px;
}

.rbc-header {
  font-family: Inter;
  font-style: normal;
  font-weight: 600 !important;
  font-size: 17px !important;
  line-height: 21px;
  align-items: center;
  text-align: center !important;
  letter-spacing: -0.6px;
  color: #261a45;
  padding-top: 0.5rem !important;
  padding-bottom: 1.5rem !important;
}
.rbc-month-view > .rbc-month-header > .rbc-header {
  padding-bottom: 0.5rem !important;
}

.rbc-time-column {
  text-align: center !important;
}

.rbc-timeslot-group {
  align-items: center !important;
  min-height: 90px !important;
}

.rbc-toolbar-label {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1px;
  /* Dark Purple */
  color: #261a45;
}

.rbc-day-slot .rbc-event,
.rbc-day-slot .rbc-background-event {
  border: 1px solid #261a45 !important;
}

.rbc-today > a > span {
  color: #6133af !important;
}

.rbc-current-time-indicator {
  background-color: #261a45 !important;
}

.rbc-current {
  color: #261a45 !important;
}

.rbc-event-continues-after {
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

.rbc-event-content {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.6px;
  color: #ffffff;
}

.rbc-events-container > .rbc-event > .rbc-event-label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -1px;
  color: #ebe4ff;
}

.example {
  font-size: 14px;
  min-height: calc(100vh - 100px);
  min-height: max-content;
  height: calc(100vh - 100px);
  width: 100%;
  margin: auto;

  &,
  & > * {
    display: flex;
    flex-direction: column;
  }

  .rbc-calendar {
    flex: 1;
    min-height: 580px;
  }
}

.row {
  h4 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.td-lesson {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.2px;
  color: #646481;
}

.td-topic-level {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.2px;
  color: #646481;
}

.td-datetime {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: -0.2px;
  color: #646481;
}

.td-tutor {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.2px;
  color: #6133af;
}

.td-button {
  padding-top: 1.25rem !important;
}

.td-item {
  padding-top: 1rem !important;
}

.td-datetime-border {
  background: #ffffff;
  /* Border Gray */
  height: 40px;
  border: 1px solid #dedee1;
  box-sizing: border-box;
  border-radius: 8.125px;
}

.btn-tutor-feedback-disabled {
  color: #261a45;
  border-color: #dedee1;
}

.calendar {
  display: block;
  position: relative;
  height: auto;
  margin-top: 22px;
  margin-bottom: 22px;

  .calendar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Noto Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    .column {
      &.col-center {
        min-width: 200px;
      }
    }

    .icon {
      width: 44px;
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #fefeff;
      border: 0.5px solid #f2f2f2;
      box-sizing: border-box;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.005);
      border-radius: 9px;
      cursor: pointer;
    }
  }

  .calendar-wrapper {
    padding: 5px;
    background: rgba(96, 178, 204, 0.3);
    border: 0.5px solid rgba(96, 178, 204, 0.8);
    border-radius: 21px;
    margin-top: 20px;
  }

  .days {
    text-transform: uppercase;
    font-weight: 400;
    color: gray;
    font-size: 70%;
    padding: 0.75em 0;
    background: #ffffff;
    border-bottom: 4px solid #60b2cc;
    box-sizing: border-box;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.01);
    margin-bottom: 15px;
    border-radius: 15px 15px 0 0;
  }

  .row {
    // border-bottom: 1px solid lightgray;
    display: flex;

    &:last-child {
      border-bottom: none;

      .column {
        &:first-child {
          border-bottom-left-radius: 15px;
        }

        &:last-child {
          border-bottom-right-radius: 15px;
        }
      }
    }
  }

  .column {
    flex-grow: 0;
    flex-basis: calc(100% / 7);
    width: calc(100% / 7);

    &.col-center {
      text-align: center;
      font-family: Noto Serif;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 45px;
      color: black;
    }
  }

  .body {
    background: #ffffff;
    border: 0.5px solid #f2f2f2;
    box-sizing: border-box;
    border-radius: 0 0 15px 15px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.01);

    .cell {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 7em;
      overflow: hidden;
      cursor: pointer;
      background: white;
      transition: 0.25s ease-out;
      color: #42413d;

      &:hover {
        background: whitesmoke;
        transition: 0.5s ease-out;
      }

      &:last-child {
        border-right: none;
      }

      .number {
        font-family: Source Sans Pro;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
      }
    }
    .past-lessons-day {
      div {
        border: 1.75px solid #f2f2f2;
        width: 80px;
        height: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        gap: 5px;
        .divider {
          width: 22px;
        }
        span {
          font-family: Source Sans Pro;
          font-style: normal;
          font-weight: 600;
          font-size: 10px;
          width: 70%;
          text-align: center;
        }
      }
    }
    .today {
      div {
        background: #ed1c70;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
      }
    }
    .upcoming-lessons-day {
      div {
        background: #60b2cc;
        width: 80px;
        height: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        gap: 5px;
        .divider {
          width: 22px;
        }
        span {
          font-family: Source Sans Pro;
          font-style: normal;
          font-weight: 600;
          font-size: 10px;
          width: 70%;
          text-align: center;
        }
      }
    }
    .disabled {
      color: #c4c4c4;
      pointer-events: none;
    }
  }

  @media screen and (min-width: 901px) {
    .body {
      .row {
        .column {
          // &.has-event {
          //   &.today {
          //     div {
          //       width: 92px;
          //       height: 92px;
          //     }
          //   }

          //   div {
          //     width: 92px;
          //     height: 92px;
          //   }
          // }
          // &.today {
          //   div {
          //     width: 74px;
          //     height: 74px;
          //   }
          // }
        }
      }
    }
  }

  @media screen and (max-width: 900px) {
    .body {
      .cell {
        height: 4em;
      }
      .row {
        .column {
          // &.has-event {
          //   &.today {
          //     div {
          //       width: 45px;
          //       height: 45px;
          //     }
          //   }

          //   div {
          //     width: 45px;
          //     height: 45px;
          //   }
          // }
          // &.today {
          //   div {
          //     width: 45px;
          //     height: 45px;
          //   }
          // }
        }
      }
    }
  }
}

.help {
  display: flex;
  justify-content: center;
  margin-top: 11px;
  & > div {
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 0px 14px;
    &:not(:last-child) {
      border-right: 0.5px solid #dbdbdb;
    }
  }
}
