@import './variable.scss';
.rbc-row-content {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.rbc-date-cell {
  text-align: center !important;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 48px;
  align-items: center;
  letter-spacing: -0.6px;
}
.rbc-event {
  background-color: $color-purple1;
  font-family: Inter;
  font-style: normal;
  justify-content: center;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.2px;
}

.rbc-month-row {
  overflow: visible !important;
}

.rbc-header {
  font-family: Inter;
  font-style: normal;
  font-weight: 600 !important;
  font-size: 17px !important;
  line-height: 21px;
  align-items: center;
  text-align: center !important;
  letter-spacing: -0.6px;
  color: #261a45;
  padding-top: 0.5rem !important;
  padding-bottom: 1.5rem !important;
}
.rbc-month-view > .rbc-month-header > .rbc-header {
  padding-bottom: 0.5rem !important;
}

.rbc-time-column {
  text-align: center !important;
}

.rbc-timeslot-group {
  align-items: center !important;
  min-height: 90px !important;
}

.rbc-toolbar-label {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1px;
  /* Dark Purple */
  color: #261a45;
}

.rbc-day-slot .rbc-event,
.rbc-day-slot .rbc-background-event {
  border: 1px solid #261a45 !important;
}

.rbc-today > a > span {
  color: $color-purple1 !important;
}

.rbc-current-time-indicator {
  background-color: #261a45 !important;
}

.rbc-current {
  color: #261a45 !important;
}

.rbc-event-continues-after {
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

.rbc-event-content {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.6px;
  color: $color-white;
}

.rbc-events-container > .rbc-event > .rbc-event-label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 0.938rem;
  letter-spacing: -1px;
  color: #ebe4ff;
}

.example {
  font-size: 14px;
  padding-left: 40px;
  padding-right: 40px;
  min-height: calc(100vh - 100px);
  min-height: max-content;
  height: calc(100vh - 100px);
  width: 100%;
  margin: auto;

  &,
  & > * {
    display: flex;
    flex-direction: column;
  }

  .rbc-calendar {
    flex: 1;
    min-height: 580px;
  }
}

.rbc-calendar {
  max-width: 1065px;
}

.rbc-selected {
  background: #6133af !important;
}

.row {
  h4 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.td-lesson {
  margin-top: 1rem;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 0.938rem;
  line-height: 18px;
  letter-spacing: -0.2px;
  color: $color-light-grey;
}

.td-topic-level {
  margin-top: 1rem;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 0.938rem;
  line-height: 18px;
  letter-spacing: -0.2px;
  color: $color-light-grey;
}

.td-datetime {
  margin-top: 0.4rem;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 0.938rem;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: -0.2px;
  color: $color-light-grey;
  white-space: nowrap;
}

.td-tutor {
  margin-top: 1rem;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 0.938rem;
  line-height: 18px;
  letter-spacing: -0.2px;
  color: $color-purple1;
}

.td-level {
  color: $color-purple1;
  background: #ebe4ff;
  display: flex;
  justify-content: center;
  margin-top: 6px;
  padding: 12px 12px;
  border-radius: 8px;
  white-space: nowrap;
}

.td-button {
  display: block;
  color: black;
  width: fit-content;
  text-decoration: none;
  background-color: #fff;
  border: #e9e9e9 1px solid;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  &:hover {
    background-color: #f5f5f5;
  }
}

.td-item {
  padding-top: 1rem !important;
  border-bottom: 1px solid #e9e9e9;
}

.td-datetime-border {
  background: $color-white;
  /* Border Gray */
  height: 40px;
  border: 1px solid $color-border-white;
  box-sizing: border-box;
  border-radius: 8.125px;
}

.btn-tutor-feedback-disabled {
  color: #261a45;
  border-color: $color-border-white;
}

.calendar {
  display: block;
  position: relative;
  height: auto;
  margin-top: 22px;
  margin-bottom: 22px;

  .calendar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Noto Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    .column {
      &.col-center {
        min-width: 200px;
      }
    }

    .icon {
      width: 44px;
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #fefeff;
      border: 0.5px solid $color-grey3;
      box-sizing: border-box;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.005);
      border-radius: 9px;
      cursor: pointer;
    }
  }

  .calendar-wrapper {
    padding: 5px;
    background: rgba(96, 178, 204, 0.3);
    border: 0.5px solid rgba(96, 178, 204, 0.8);
    border-radius: 21px;
    margin-top: 20px;
  }

  .days {
    text-transform: uppercase;
    font-weight: 400;
    color: gray;
    font-size: 70%;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    background: $color-white;
    border-bottom: 4px solid $color-pale-blue;
    box-sizing: border-box;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.01);
    margin-bottom: 15px;
    border-radius: 15px 15px 0 0;
  }

  .row {
    display: flex;

    &:last-child {
      border-bottom: none;

      .column {
        &:first-child {
          border-bottom-left-radius: 15px;
        }

        &:last-child {
          border-bottom-right-radius: 15px;
        }
      }
    }
  }

  .column {
    flex-grow: 0;
    flex-basis: calc(100% / 7);
    width: calc(100% / 7);

    &.col-center {
      text-align: center;
      font-family: Noto Serif;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 45px;
      color: $color-black;
    }
  }

  .body {
    background: $color-white;
    border: 0.5px solid $color-grey3;
    box-sizing: border-box;
    border-radius: 0 0 15px 15px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.01);

    .cell {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 7em;
      overflow: hidden;
      cursor: pointer;
      background: $color-white;
      transition: 0.25s ease-out;
      color: #42413d;

      &:hover {
        background: whitesmoke;
        transition: 0.5s ease-out;
      }

      &:last-child {
        border-right: none;
      }

      .number {
        font-family: Source Sans Pro;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
      }
    }
    .past-lessons-day {
      div {
        border: 1.75px solid $color-grey3;
        width: 80px;
        height: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        gap: 5px;
        .divider {
          width: 22px;
        }
        span {
          font-family: Source Sans Pro;
          font-style: normal;
          font-weight: 600;
          font-size: 10px;
          width: 70%;
          text-align: center;
        }
      }
    }
    .today {
      div {
        background: $color-magenta;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-white;
      }
    }
    .upcoming-lessons-day {
      div {
        background: $color-pale-blue;
        width: 80px;
        height: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        gap: 5px;
        .divider {
          width: 22px;
        }
        span {
          font-family: Source Sans Pro;
          font-style: normal;
          font-weight: 600;
          font-size: 10px;
          width: 70%;
          text-align: center;
        }
      }
    }
    .disabled {
      color: #c4c4c4;
      pointer-events: none;
    }
  }

  @media screen and (max-width: 900px) {
    .body {
      .cell {
        height: 4em;
      }
    }
  }

  .help {
    display: flex;
    justify-content: center;
    margin-top: 11px;
    & > div {
      display: flex;
      align-items: center;
      gap: 14px;
      padding-right: 14px;
      padding-left: 14px;
      &:not(:last-child) {
        border-right: 0.5px solid #dbdbdb;
      }
    }
  }
}

.loading .rbc-time-view,
.loading .rbc-month-view {
  opacity: 0.5;
}
