@import './variable.scss';
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900);
.unversity-font {
  font-weight: 600 !important;
}
.searchbox input {
  border: 0.5px solid $color-grey3;
  box-sizing: border-box;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 17px;
  min-width: 350px;
  outline: none;
  height: 40px;
  margin: 10px 0px;
  &::placeholder {
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: $color-black;
    opacity: 0.3;
  }
}
.schedule-dashboard-buttons {
  background: #ffffff;
  border-radius: 5px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.2px;
  color: #261a45;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
  text-decoration: none;
  margin: 5px 10px;
}
.max-select_lesson {
  width: 1180px;
  height: 100vh;
}
.customlabel {
  display: flex;
  justify-content: space-around;
}
.dash_weekly-schedule-subtitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: -0.6px;
  color: #7048e8 !important;
}
.minutes_schedule_text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: -0.6px;
  color: $color-black;
  padding: 10px;
}
.schedule-cardss {
  background: $color-white;
  border: 0.5px solid $color-border-white;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.01);
  border-radius: 16px;
  padding: 10px 15px 10px 20px;
  flex-direction: column;
  width: 100%;
  max-width: 322px;
}
.sublabel-1 {
  background: #dedee1;
}

.sublabel2-txt {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: -0.6px;
  color: #261a45;
  padding: 10px;
}
.schedule-dashboard-buttons {
  padding: 15px !important;
}
.mobile-view-buttons {
  margin-left: -2px;
}
.set-container_tutor {
  max-width: 730px;
  width: 100%;
  padding: 20px 50px 0 50px !important;
}
.align_width_width {
  max-width: 730px;
  padding: 0px 50px 0 50px !important;
}
.child-set_container {
  padding: 20px;
}
.schedule_change_padd {
  padding: 18px 0px 18px 10px;
  max-width: 394px;
}
.tutor_date_padd {
  padding: 10px !important;
}
.align_button_sche_lesson {
  border-radius: 8.125px !important;
}
.combobutton {
  font-weight: 600 !important;
  color: '#261A45' !important;
  letter-spacing: '-0.2px';
}
::selection .customClass {
  background-color: red;
  color: white;
}
.combobutton {
  margin-top: 0;
  margin-right: 20px;
  padding: 10px 19px;
  margin-bottom: 8px;

  border-radius: 5px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.2px;
  color: #261a45;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  text-decoration: none;
  flex-wrap: nowrap;
}
.CheckBox-FavoriteColor {
  background: #6133af;
  border-radius: 3px;
  position: absolute;
  width: 10px;
  height: 10px;
  left: 4px;
  top: 4px;
}
.fa-angle-downs {
  position: absolute;
  flex: none;
  order: 1;
  width: 17px;
  height: 10px;
  color: #dedee1;
  left: 70px;
  top: 15px;
}
.FavoriteSTutors {
  display: flex;
  border: 1px solid #dedee1;
  padding: 6px 15px 20px 15px;
  border-radius: 5px;
  background: #ffffff;

  height: 38px;
}
.FavoritesTutors {
  display: flex;
  border: 1px solid #dedee1;
  padding: 6px 40px 24px 20px;
  border-radius: 5px;
  background: #ffffff;
  position: relative;
  height: 38px;
}

.favImg {
  width: 100%;
  max-width: 300px;
  display: flex;
  position: relative;
}
.FavoriteSvg {
  position: absolute;
  right: 21px;
  top: 23px;
}
#Favorite-label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600 !important;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.2px;
  color: #261a45 !important;
  padding-top: 2px;
}
.CheckBox-Favorite {
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid #dedee1;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 3px;
}
.Favorites {
  display: flex;
  border: 1px solid #dedee1;
  padding: 5px 10px;
  border-radius: 5px;
  background: #ffffff;
  align-items: center !important;
  height: 38px;
  margin-right: 20px;
}
.welcome-subtitle {
  font-size: 20px;
}
select::-ms-expand {
  display: none;
}
select {
  -moz-appearance: none;
  -webkit-appearance: none;
}
#All-Messages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
  width: 110px;
  color: #261a45 !important;
  height: 38px;
  background: #ffffff;
  border: 1px solid #dedee1;
  border-radius: 5px;
  margin-bottom: 10px;
  position: relative;
}
.fa-angle-down {
  position: absolute;
  flex: none;
  order: 1;
  width: 17px;
  height: 10px;
  color: #dedee1;
  right: 10px;
  top: 14px;
}
.combo {
  position: relative;
  padding-right: 20px;
}
.combos {
  display: flex;
}
.buttonss {
  width: 100px;
  min-width: 117px;
  height: 38px;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.2px;
  color: #261a45;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  text-decoration: none;
  margin: 10px 0 !important ;
  flex-wrap: nowrap;
}

.pt-3 .text-center {
  display: flex;
  margin-top: 4px;

  width: 100%;
  max-width: 300px;
}
.Learn-name-university {
  width: 100%;
  text-align: left;
  margin: 2px 0 10px 0 !important;
}
.schedule {
  display: flex;
  width: 100%;
  max-width: 300px;
  border-radius: 5px;
  height: 300px;
}
.weekly-schedule-subtitle {
  margin: 30px 0px 30px 0px;
}
.grey-border {
  border: 0.5px solid $color-darker-grey !important;
}
.schedule-card-col,
.calendar-card-col {
  flex: 0 0 auto;
}

@media screen and (min-width: 850px) and (max-width: 1200px) {
  .media_align_width {
    max-width: 380px;
    margin: auto;
  }
  .media_small_width_schedule {
    justify-content: space-around;
    margin: 0 !important;
  }
  .align_schedule_texts {
    margin-left: -27px;
  }
  .align_schedule-width-dash {
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .select_top_align {
    margin-top: 20px;
    padding-right: 0 !important;
  }
  .Learn-name-university {
    text-align: center !important;
  }
  .summary-information {
    grid-template-columns: repeat(1, 1fr);
  }
  .set-container_tutor {
    padding: 15px !important;
  }
  .align_width_width {
    padding: 15px !important;
  }
  .fa-angle-down {
    position: absolute;

    flex: none;
    order: 1;
    width: 17px;
    height: 10px;
    color: #dedee1;
    left: 80px;
    top: 14px;
  }
  .text-purple {
    font-size: 30px;
  }

  .fa-angle-downs {
    position: absolute;
    flex: none;
    order: 1;
    width: 17px;
    height: 10px;
    color: #dedee1;
    left: 70px;
    top: 14px;
  }
  .Favorites {
    margin-bottom: 10px;
  }
  .combos {
    display: grid;
    font-size: 15px;
  }
  .FavoritesTutors {
    margin-bottom: 10px;
  }
  .schedule-dashboard-buttons {
    margin-top: 0px;

    padding: 0px 19px;
    margin-bottom: 8px;
  }
  .btn-dash-return {
    background: white !important;
    color: #261a45 !important;
  }
  .combos {
    display: flex;
    flex-wrap: wrap;
  }
  .buttonss {
    width: 100%;
  }
  .text-center {
    display: flex;
    flex-wrap: wrap;
  }
  .Learn-buttons-style {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .select_top_align {
    margin-top: 20px;
  }
  .favImg {
    width: 100%;
    max-width: 300px;
    display: flex;
    position: relative;
  }
  .schedulebottom {
    margin-right: auto;
    padding-right: 0px !important;
  }
  .availability-wrapper {
    padding: 20px;
  }

  .text-purple {
    font-size: 30px;
  }
  .text-center {
    flex-wrap: wrap;
  }
  .Learn-buttons-style {
    width: 100%;
  }
  .buttonss {
    width: 100% !important;
  }
  .lesson-wrapper {
    margin-left: auto;
  }
  .lesson-wrapper .pb-0 {
    padding-bottom: 0 !important;
  }
  .lesson-wrapper .tutor-overflow-scroll.ps-2 {
    padding-left: 0px !important;
  }

  .lesson-wrapper .favImg {
    margin-left: auto;
    margin-right: auto;
  }
  .lesson-wrapper .pt-3 .text-center {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 601px) {
  .summary-information {
    grid-template-columns: repeat(3, 1fr);
  }
  .combos {
    display: flex;
    flex-wrap: wrap;
  }
  .container .lesson-wrapper {
    margin-left: 35px;
  }
}

.weekly-schedule {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  display: flex;
  align-items: center;
  letter-spacing: -0.6px;
  color: $color-black;
  margin-top: 10px;
  margin-bottom: 10px;
}

.medium-card {
  width: 500px;
}

.weekly-schedule-scroll {
  height: 100vh;
  overflow-y: scroll;
}

.outer {
  width: 100%;
  height: 100vh;
  display: flex;
}

.inner {
  margin: auto;
}

.max-cta-card {
  height: 235px;
}

.modal-scroll {
  height: 50vh;
  overflow-y: scroll;
}

.weekly-schedule-scroll {
  height: 65vh;
  overflow-y: scroll;
}

.modal-card {
  border: 0.5px solid $color-grey3;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.01);
  border-radius: 16px;
  padding: 25px 35px;
  min-width: 600px;
}

.page-card {
  border: 0.5px solid $color-grey3;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.01);
  padding: 31px 57px 26px 57px;
  display: flex;
  flex-direction: column;
  div {
    position: relative;
  }
  .vertical-align-text {
    padding: 50px 10px;
  }
  .vertical-align-card {
    padding: 25px 10px;
  }

  .title {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.6px;
  }

  img {
    margin-bottom: 31px;
  }
}

.dashboard_cal-scl_button {
  display: inline-block;
  min-width: 150px !important;
  padding: 15px !important;
}

.sizes {
  min-width: 101px !important;
  min-height: 101px !important;
}
[src='/static/media/calendar_icon.6bb79a2bb8d6d68a5883823f3e189c1e.svg'] {
  margin-bottom: 10px !important;
  min-width: 65px;
}
.manage_my_classes {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  display: flex;
  align-items: center;
  letter-spacing: -0.6px;
  color: $color-black;
}
.titles {
  font-family: 'Inter' !important;
  font-style: normal;
  font-weight: 600;
  font-size: 30px !important;
  line-height: 20px !important;
  letter-spacing: -0.6px;
  color: $color-white;
  margin-top: 16px;
}
.button-opacity {
  opacity: 0.5;
}
.university-text-font {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600 !important;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.2px;
  color: $color-light-grey !important;
}
.text-blacks {
  color: #281b49 !important;
}

.inside-align-title-time {
  color: #261a45 !important;
}
div.time-style {
  text-align: 'center';
  color: #6133af !important;
  font-weight: 600 !important;
}
.schedule-lesson-border-widthss {
  background: #ebe4ff;
  max-width: 97px;
  margin-left: 5px;
  margin-right: 7px;
}
.Lesson-styles {
  text-align: 'center';
  color: #261a45;
  font-weight: 600 !important;
}
.welcome-subtitle-fonts {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600 !important;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.2px;
  color: $color-light-grey !important;
}
.welcome-subtitle-smalls {
  font-size: 17px !important;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: -0.6px;
  color: $color-light-grey;
  margin-top: 30px;
}
.welcome-subtitle-small {
  font-size: 17px !important;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: -0.6px;
  color: $color-light-grey;
}
.form-check-input {
  position: relative;
}
.form-check-label {
  display: inline-block;
  margin-top: 0.25em;
}
.form-check-input[type='checkbox'] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.form-check-input:checked:after {
  background: #6133af !important;
  border-radius: 3px;
  position: absolute;
  width: 10px;
  height: 10px;
  left: 4px;
  top: 4px;
  content: '';
}
.form-check {
  display: flex;
  min-height: 1.5rem;
  padding-left: 30px;
  margin-bottom: 0.125rem;
  padding-right: 15px;
}
#Favorite-label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.2px;
  color: #261a45;
  padding-top: 2px;
}
.image-align-tutor {
  width: auto;
}
.buttons-Lesson {
  font-weight: 600 !important;
  font-size: 20px !important;
  line-height: 24px;
  letter-spacing: -0.6px;
  width: 100%;
  height: 60px;
}
.confirm-tutor-title {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1px;
  margin-bottom: 15px !important;
}
.schedule-lesson-border-width {
  width: 100%;
}
.schedule-lesson-border-widths {
  width: 100%;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.col-auto .pt-2 {
  margin-left: -13px;
}
.align-date {
  align-items: center;
}

.inside-align-title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.6px;
  margin-right: 5px;
  color: #261a45 !important;
}
.confirm-tutor-subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.6px;
  margin-bottom: 15px;
}
.button-size {
  margin-bottom: 10px;
}
.confirm-tutor-enter-btn {
  border: 1px solid #dedee1 !important;
  background: $color-white;
  border-radius: 5px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;

  color: #261a45;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  text-decoration: none;
  margin-right: 2px;
  flex-wrap: nowrap;
  margin-left: 9px;
  max-width: 155px;
}
.ReactModal__Overlay {
  background-color: rgba(255, 255, 255, 0.25) !important;
}

.td-item {
  .pt-0 {
    padding-top: 0rem !important;
  }
}
.weekly-schedule-subtitle {
  margin-bottom: 30px;
}

.weekly-schedule-subtitle {
  margin-bottom: 30px;
}
.grey-border {
  border: 0.5px solid $color-darker-grey !important;
}
.align-flex-direction {
  align-items: center;
}
.schedule-card-col,
.calendar-card-col {
  flex: 0 0 auto;
}
@media screen and (min-width: 901px) {
  .availability-wrapper {
    padding: 39.31px 20px 57px 20px;
  }
  .Lesson-styles {
    color: #261a45;

    justify-content: center;
    display: flex;
  }
  .children-page {
    width: calc(100% - 300px);
  }
  .titles {
    padding-left: 16px;
  }
}
@media screen and (max-width: 900px) {
  .availability-wrapper {
    padding: 20px;
    .children-page {
      width: calc(100% - 300px);
      padding: 39.31px 39px 57px 43px;
    }
  }
  .titles_align_desktop {
    padding: 0;
  }
}
@media screen and (max-width: 900px) {
  .availability-wrapper {
    padding: 20px;
  }
  .tutor-confirm-right {
    width: 100%;
  }
  .alignmobile {
    align-items: center;
  }
  .flex-container {
    display: flex;
    flex-wrap: wrap;
  }
  .Lesson-styles {
    display: flex;
    justify-content: center;
  }
  .time-style {
    display: flex;
    justify-content: center;
  }
  .mobile-view-align {
    display: flex;
    flex-wrap: wrap;
  }
  .mobile-width-subtitle {
    padding: 0 !important;
    margin: 0 !important;
  }
}
@media screen and (max-width: 900px) {
  .availability-wrapper {
    padding: 20px;
  }
  .tutor-confirm-right {
    width: 100%;
  }
  .alignmobile {
    align-items: center;
  }
  .flex-container {
    display: flex;
    flex-wrap: wrap;
  }
  .Lesson-styles {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 900px) {
  .availability-wrapper {
    padding: 20px;
  }
}

@media screen and (min-width: 901px) {
  .lesson-wrapper {
    padding: 15px 25px 0 25px;
  }
  .tutor-confirm-left {
    width: 100%;
  }
  .children-page {
    width: calc(100% - 300px);
  }
  .alignmobile {
    align-items: center;
  }

  .child-set_container {
    padding: 20px;
  }
  .set-container {
    padding: 20px 50px 57px 50px !important;
  }
}
@media screen and (max-width: 1120px) {
  .confirm-tutor-title {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1px;
    margin-bottom: 15px !important;
  }
  .Text-align-tutor {
    width: 50%;
  }

  .inside-align-title-time {
    align-items: center;
    width: 100%;
  }
  .alignmobile {
    justify-content: center;
  }
}

.buttonsdash {
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.2px;
  color: #281b49;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  text-decoration: none;
  flex-wrap: nowrap;
  width: 100%;
  max-width: 100%;
  height: 48px;
  margin-bottom: 15px;
  margin-right: 10px;
}
.buttonsdash-second {
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.2px;
  color: #281b49;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  text-decoration: none;
  flex-wrap: nowrap;
  max-width: 100%;
  width: 100%;
  height: 48px;
  margin-bottom: 15px;
  margin-left: 15px;
}
.text-purple {
  color: #7048e8 !important;
}
.text-purpless {
  color: #6133af !important;
}

.student-dashboard .schedule-lesson-select .page-card {
  width: 100% !important;
}
.content .student-dashboard .schedule-lesson-select .small-car {
  width: 100% !important;
}
.weekly-schedule-subtitle {
  margin-bottom: 30px;
}
@media screen and (max-width: 900px) {
  .availability-wrapper {
    padding: 20px;
  }
}
.grey-border {
  border: 0.5px solid $color-darker-grey !important;
}
.grey-borders {
  border: 1px solid #dedee1 !important;
}
.schedule-card-col,
.calendar-card-col {
  flex: 0 0 auto;
}

@media screen and (min-width: 901px) {
  .align-flex-direction {
    padding-bottom: 15px;
  }
  .rounded-corners {
    max-width: 100%;
  }
  .rounded-corners-round {
    max-width: 100%;
  }
  .availability-wrapper {
    padding: 20px;
  }

  .lesson-wrapper {
    padding: 15px 25px 0 25px;
  }

  .children-page {
    width: calc(100% - 300px);
  }
  .mobile-fade-background {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .mobilefinal-laptop {
    width: auto;
    padding-right: 20px;
  }
  .align-flex-direction {
    padding-bottom: 15px;
  }

  .rounded-corners-round {
    max-width: 126px;
  }
  .button-align-left-dash {
    width: 33.33% !important;
  }
  .availability-wrapper {
    padding: 20px;
  }
  .lesson-wrapper {
    padding: 20px;
  }
  .flex-container {
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 1500px) {
  .button-align-left-dash {
    flex: 0 0 auto;
    width: 33.33% !important;
  }
  .schedule-card-col {
    flex: 0 0 auto;
    width: 100%;
  }
}

.time-btn {
  border: 1px solid #dedee1;
  box-sizing: border-box;
  border-radius: 8px;
}

@media screen and (max-width: 900px) {
  .availability-wrapper {
    padding: 20px;
  }
  .lesson-wrapper {
    padding: 20px;
  }
  .alignmobile {
    display: flex;
    justify-content: center !important;
  }
  .flex-left {
    width: 100%;
  }
  .flex-right {
    width: 100%;
  }
  .flex-lefts {
    width: 100%;
  }
  .flex-rights {
    width: 100%;
  }
  .mobile-view-align {
    width: 100%;
    padding-right: 0 !important;
  }
  .Text-align-tutor {
    width: 100%;
  }
  .mobile-width-subtitle {
    padding-right: 0 !important;
  }
}

@media screen and (min-width: 1500px) {
  .schedule-card-col {
    flex: 0 0 auto;
    width: auto;
  }
}

.time-btn {
  border: 1px solid #dedee1;
  box-sizing: border-box;
  border-radius: 8.125px;
}
.buttons-Lesson-shape {
  width: 100%;
  padding-bottom: 20px;
}
.time-card {
  border: 0.5px solid $color-grey3;
  border-radius: 16px;
  padding: 15px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.01);
  border-radius: 16px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.schedule-image {
  margin-top: 30px;
}
.page-card_schedule {
  border-radius: 16px;
  padding: 20px 22px !important;
  display: flex;
  flex-direction: column;
}
.font_schedule_text {
  font-size: 17px !important;
  padding-bottom: 16px;
}
.round_schedule-width {
  border: 4px solid #261a45;
}
.schedule_images-width {
  max-width: 65px;
  border-radius: 50% !important;
}
.back_schedule-button {
  background: #b099d7 !important;
}
.cols-image-schedule {
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  margin-left: inherit;
}
.cancel_schedule-lesson {
  max-width: 80px;
}
.join_schedule-lesson {
  max-width: 115px;
}
.re_schedule-lesson {
  max-width: 114px;
}
.schedule_copy-button {
  background: #ffffff;
  border-radius: 5px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 0.938rem;
  line-height: 18px;
  letter-spacing: -0.2px;
  color: #261a45;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}
.align_schedule-lesson {
  margin: 0;
  justify-content: space-around;
}
@media screen and (max-width: 600px) {
  .mobilefinal-image {
    margin-right: 0 !important;
  }
  .font_schedule_text {
    padding-top: 15px;
  }
  .page-card_schedule {
    margin: auto;
  }
  .mobile-schedule_dash {
    width: 100% !important;
  }
  .cols-image-schedule {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100% !important;
    padding-bottom: 20px;
    margin: auto;
  }
  .join_schedule-lesson {
    max-width: 100%;
    margin-top: 1rem;
    margin-left: 0 !important;
  }
  .re_schedule-lesson {
    max-width: 100%;
    margin-top: 1rem;
    margin-left: 0 !important;
  }
  .cancel_schedule-lesson {
    max-width: 100%;
  }
}

@media screen and (min-width: 1500) {
  .schedule-image {
    margin: 25px 0px 0px 25px;
  }
}

@media screen and (min-width: 1500) {
  .schedule-image {
    margin: '25px 0px 0px 25px';
  }
  .flex-container {
    display: flex;
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 768) {
  .flex-container {
    flex-wrap: wrap;
  }
  .schedule-lesson-select {
    display: contents;
    flex-direction: column;
    justify-content: center;
  }
  .page-card .purple .large-card .py-5 {
    width: 100%;
  }
}

.student-dashboard .schedule-lesson-select .page-card .title {
  color: #ffffff !important;
}
.pt-0 {
  font-weight: 600;
}
.welcome-message {
  font-weight: 600;
}
.enter-btn {
  background: $color-white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 0.938rem;
  line-height: 18px;
  letter-spacing: -0.2px;
  color: #261a45;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  text-decoration: none;
  margin: 5px 10px;
  flex-wrap: nowrap;
  cursor: pointer;
}

.form-check-wrapper {
  background: $color-white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.07);
  border-radius: 5px !important;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 0.938rem;
  letter-spacing: -0.2px;
  color: #261a45;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
  text-decoration: none;
  margin: 5px 10px;
  flex-wrap: nowrap;
}

.enter-btn {
  background: $color-white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 0.938rem;
  line-height: 18px;
  letter-spacing: -0.2px;
  color: #261a45;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  text-decoration: none;
  margin: 5px 10px;
  flex-wrap: nowrap;
  cursor: pointer;
}

.form-check-wrapper {
  background: $color-white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.07);
  border-radius: 5px !important;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 0.938rem;
  letter-spacing: -0.2px;
  color: #261a45;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
  text-decoration: none;
  margin: 5px 10px;
  flex-wrap: nowrap;
}

.main-dashboard {
  height: 100%;
  overflow: auto;
  position: relative;

  .summary-information {
    margin-top: 42px;
    margin-bottom: 42px;
    display: grid;
    grid-gap: 24px;

    .summary-item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 36px 40px;
      background: $color-white;
      border: 0.5px solid $color-grey3;
      box-sizing: border-box;
      box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.01);
      border-radius: 11px;

      p {
        font-family: Noto Serif JP;
        font-style: normal;
        font-weight: bold;
        font-size: 38px;
        line-height: 140%;
      }

      div {
        display: flex;
        align-items: center;
        margin-top: 8px;

        img {
          margin-right: 11px;
        }

        span {
          white-space: nowrap;
          font-family: Source Sans Pro;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 130%;
        }
      }
    }
  }

  .upcoming-appointments,
  .past-lessons {
    margin-top: 42px;
    height: auto;
  }
}

.upcoming-appointments,
.student-subscriptions-wrapper,
.past-lessons,
.student-list,
.manage-appointments,
.appointment-calendar,
.group-lessons-layout,
.favourite-tutors-layout,
.schedule-lesson-layout,
.packages-layout,
.submit-request-layout,
.admin-main-layout,
.tutor-list-layout,
.student-list-layout,
.availability-layout,
.payment-page-layout,
.view-messages {
  height: 100%;
  display: flex;
  flex-direction: column;
}

// Responsive Style
@media screen and (max-width: 600px) {
  .tutor_date_padd {
    max-width: 100%;
  }
  .inside-align-title-time {
    margin-left: 0 !important;
  }
  .confirm-tutor-enter-btn {
    margin-right: 8px;
  }
  .schedule_card_aligns {
    width: 100%;
  }
  .dash_child-set_container {
    padding: 20px !important;
  }
  .flex-container .ps-0 {
    justify-content: center;
  }
  .child-set_container {
    padding: 0;
  }
  .weekly-schedule-subtitle {
    font-size: 25px;
  }
  .dash_width {
    width: 100%;
  }
  .summary-information {
    grid-template-columns: repeat(1, 1fr);
  }
  .schedule_changess {
    padding: 20px !important;
  }
  .images-align {
    width: auto !important;
  }
  .align-flex-direction {
    padding-bottom: 15px;
  }
  .align-text-right {
    width: 100%;
  }
  .button-align-left-dash {
    width: 100% !important;
  }
  .align-flex-direction {
    display: flex;
    flex-direction: column;
  }
  .text-white {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .text-black {
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center !important;
  }
  .text-muted {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .summary-information {
    grid-template-columns: repeat(1, 1fr);
  }
  .student-dashboard .schedule-lesson-select .page-card .enter-btn {
    background: #ffffff;
    border-radius: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.2px;
    color: #261a45;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
    text-decoration: none;
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 601px) {
  .summary-information {
    grid-template-columns: repeat(3, 1fr);
  }
}

.weekly-schedule {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  display: flex;
  align-items: center;
  letter-spacing: -0.6px;
  color: $color-black;
  margin-top: 10px;
  margin-bottom: 10px;
}

.medium-card {
  width: 500px;
}
.outer {
  width: 100%;
  height: 100vh;
  display: flex;
}

.inner {
  margin: auto;
}

.max-cta-card {
  height: 235px;
}

.modal-scroll {
  height: 50vh;
  overflow-y: scroll;
}

.tutor-overflow-scroll {
  max-height: 60vh;
  overflow-y: scroll;
}

.weekly-schedule-scroll {
  height: 70vh;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.weekly-schedule-scroll::-webkit-scrollbar {
  display: none;
}

.modal-card {
  border: 0.5px solid $color-grey3;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.01);
  border-radius: 16px;
  padding: 25px 35px;
  min-width: 600px;
}

.page-card {
  border: 0.5px solid $color-grey3;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.01);
  padding: 31px 57px 26px 57px;
  display: flex;
  flex-direction: column;
  div {
    position: relative;
  }
  .vertical-align-text {
    padding: 50px 10px;
  }
  .vertical-align-card {
    padding: 25px 10px;
  }

  .title {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.6px;
  }

  img {
    margin-bottom: 31px;
  }
}

.schedule-lesson-select {
  display: flex;
  gap: 17px;
  margin-top: 29px;
}

.student-dashboard {
  overflow: auto;
  height: calc(100vh - 80px);
  border: 1px solid rgba(0, 0, 0, 0.1);
  .sub-title {
    font-family: Noto Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    margin-top: 16px;
    margin-bottom: 28.87px;
    &:not(:first-child) {
      margin-top: 41px;
    }
  }
  .small-card {
    width: 300px;
  }
  .page-card {
    border: 0.5px solid $color-grey3;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.01);
    border-radius: 16px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    div {
      position: relative;
    }
    .vertical-align-text {
      padding: 50px 10px;
    }
    p {
      font-family: Noto Serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      margin-bottom: 20px;
      color: $color-white;
    }

    .title {
      font-family: Inter;
      font-style: normal;
      font-weight: 600;
      font-size: 30px;
      line-height: 36px;
      letter-spacing: -0.6px;
    }
    img {
      margin-bottom: 31px;
    }
  }
  .schdule-lesson-select {
    display: flex;
    gap: 17px;
    margin-top: 29px;

    @media screen and (max-width: 600px) {
      flex-direction: column;
    }
    .yellow {
      background: #fdc30f;
    }
    .large-card {
      width: 750px;
    }
    .small-card {
      width: 350px;
      margin-right: 25px;
    }

    .page-card {
      border: 0.5px solid $color-grey3;
      box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.01);
      border-radius: 16px;
      padding: 25px;
      display: flex;
      flex-direction: column;
      div {
        position: relative;
      }
      .vertical-align-text {
        padding: 50px 10px;
      }
      p {
        font-family: Noto Serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 20px;
        color: $color-white;
      }

      .title {
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 36px;
        letter-spacing: -0.6px;
      }
      img {
        margin-bottom: 31px;
      }
      .enter-btn {
        background: $color-white;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.07);
        border-radius: 5px;
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 0.938rem;
        line-height: 18px;
        letter-spacing: -0.2px;
        color: #261a45;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 15px;
        text-decoration: none;
        margin: 5px 10px;
        flex-wrap: nowrap;
        cursor: pointer;
      }
    }
  }
  .lesson-feedback-wrapper {
    background: $color-white;
    border: 0.5px solid $color-grey3;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.01);
    border-radius: 16px;
    padding: 28px 53px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 36px;
    .image {
      padding-right: 53px;
      border-right: 0.7px solid #efefef;
    }
    p {
      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
    }
    .btn-feedback {
      background: $color-magenta;
      border-radius: 9px;
      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: 600;
      font-size: 0.75rem;
      line-height: 0.938rem;
      color: $color-white;
      padding: 15px 26px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 51px;
      width: 130px;
      flex: 0 0 130px;
      gap: 11px;
      &:active {
        opacity: 0.5;
      }
    }
    @media screen and (max-width: 600px) {
      flex-direction: column;
      .image {
        border: none;
        border-bottom: 0.7px solid #efefef;
        padding: 0;
      }
      .btn-feedback {
        flex: 0 0 51px;
      }
    }
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 21px;
    .card {
      background: $color-white;
      border: 0.5px solid $color-grey3;
      box-sizing: border-box;
      box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.01);
      border-radius: 16px;
      width: 202px;
      padding: 30px 20px 20px 20px;
      text-align: center;
      .checked {
        width: 59px;
        height: 59px;
        margin-bottom: 10px;
      }
      .title {
        display: inline-block;
        box-sizing: border-box;
        margin-bottom: 8px;
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 130%;
      }
      .duration {
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 0.75rem;
        line-height: 0.938rem;
        color: $color-black;
        margin-bottom: 17px;
      }
      .start_date {
        font-family: Source Sans Pro;
        font-style: italic;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: $color-darker-grey;
        margin-bottom: 6px;
      }
      .topic-level {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        div {
          display: flex;
          flex-direction: column;
          gap: 7px;
          span:first-child {
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 0.75rem;
            text-transform: uppercase;
          }
          span:last-child {
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
          }
        }
        .divider {
          width: 0;
          height: 32px;
          border-left: 0.5px solid $color-border;
        }
      }
      .tutor {
        margin-bottom: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 0.5px solid $color-border;
        padding-top: 15px;

        & > div:first-child {
          font-family: Source Sans Pro;
          font-style: normal;
          font-weight: normal;
          font-size: 0.75rem;
          line-height: 0.938rem;
          color: $color-darker-grey;
          text-align: left;
          margin-bottom: 5px;
          display: flex;
          align-items: center;
          gap: 5px;
          & > span:last-child {
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
            color: $color-black;
            text-decoration: underline;
          }
        }
        img,
        .no-avatar {
          width: 29px;
          height: 29px;
          border-radius: 50%;
          padding: 0;
        }
        .no-avatar {
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid $color-darker-grey;
          span {
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 0.938rem;
            line-height: 0.938rem;
            color: $color-darker-grey;
          }
        }
      }
      .btn-write-review {
        background: $color-pale-blue;
        border-radius: 9px;
        margin: auto;
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: 600;
        font-size: 0.75rem;
        line-height: 0.938rem;
        color: $color-white;
        padding: 15px 26px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 51px;
        width: 100%;
        margin-top: 20px;
        gap: 11px;
        &:active {
          opacity: 0.5;
        }
      }
    }
  }
}
.submit-request-layout {
  & > p {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    margin-top: 14px;
    margin-bottom: 28px;
  }
  .form-wrapper {
    background: $color-white;
    border: 0.5px solid $color-grey3;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.01);
    border-radius: 16px;
    padding: 24px 26px 19px 26px;
    .form-row {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      label {
        margin-bottom: 14px;
      }
      input,
      textarea {
        background: #fdfdfd;
        border: 0.5px solid $color-grey3;
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.01);
        border-radius: 5px;
        padding: 21px 36px;
        color: $color-black;
        font-family: Source Sans Pro;
        font-style: italic;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        &::placeholder {
          color: $color-black;
          font-family: Source Sans Pro;
          font-style: italic;
          font-weight: 300;
          font-size: 16px;
          line-height: 30px;
        }
      }
      .drag-drop {
        position: relative;
        height: 157px;
        border: 1.1px dashed #c4c4c4;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $color-darker-grey;
        cursor: pointer;
        input {
          opacity: 0;
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
        }
        span:first-of-type {
          font-family: Source Sans Pro;
          font-style: normal;
          font-weight: 300;
          font-size: 14px;
          line-height: 130%;
        }
        span:nth-of-type(2) {
          font-family: Source Sans Pro;
          font-style: normal;
          font-weight: 300;
          font-size: 0.75rem;
          line-height: 130%;
        }
        span:last-of-type {
          font-family: Source Sans Pro;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          border-bottom: 0.7px solid #c4c4c4;
          line-height: 130%;
          strong {
            padding-bottom: 5px;
          }
        }
      }
    }
    .file-info-submit {
      display: flex;
      align-items: center;
      justify-content: space-between;
      & > div:first-child {
        display: flex;
        flex-direction: column;
        span {
          font-family: Source Sans Pro;
          font-style: normal;
          font-weight: normal;
          font-size: 0.75rem;
          line-height: 130%;
          color: #42413d;
        }
      }
      .btn-submit {
        background: $color-magenta;
        border-radius: 9px;
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: 600;
        font-size: 0.75rem;
        line-height: 0.938rem;
        color: $color-white;
        padding: 15px 26px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 51px;
        width: 127px;
        gap: 11px;
        &:active {
          opacity: 0.5;
        }
      }
    }
  }
}
