@import "./variable.scss";
.image-uploader-wrapper {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 22px;

   .display-box {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      .icon-text-box {
         position: relative;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         border: 1.1px dashed #c4c4c4;
         width: 100%;
         height: 170px;

         .main-text {
            text-align: center;

            .drop {
               font-family: Source Sans Pro;
               font-weight: 300;
               font-size: 14px;
               line-height: 18px;
               color: #c4c4c4;
               text-transform: uppercase;
            }

            .or {
               font-family: Source Sans Pro;
               font-style: normal;
               font-weight: 300;
               font-size: 0.75rem;
               line-height: 16px;
               color: #c4c4c4;
            }

            .browser {
               font-family: Source Sans Pro;
               font-weight: normal;
               font-size: 14px;
               line-height: 18px;
               color: #42413d;
               text-decoration: underline;
            }
         }

         .error-notification {
            position: absolute;
            top: 20px;
            background-color: #dfb852;
            border-radius: 5px;
            color: #444;
            padding: 5px 10px;
            p {
               margin: 0;
               text-shadow: none;
            }
         }
      }

      .upload-image-input {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         opacity: 0;
         cursor: pointer;
      }
   }
}

.choose-from-presets {
   margin-top: 16px;
      p {
      font-family: Noto Serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
   }
   .presets {
      margin-top: 17px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 18.08px;
      column-count: 5;
      div {
         display: flex;
         padding: 1px;
         border: 1.35px solid $color-white;

         img {
            cursor: pointer;
            width: 64.54px;
            height: 64.54px;
            background: #fafafa;
            border: 0.5px solid #c4c4c4;
            box-sizing: border-box;
            box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.01);
            border-radius: 50%;
            padding-top: 10px;
         }
         &.selected {
            border-color: $color-magenta;
            border-radius: 50%;
         }
      }
   }
}