@import "./variable.scss";
.view-messages {
  .header-title {
    align-items: center;
    justify-content: space-between;
    @media screen and (min-width: 901px) {
      display: flex;
    }

    p {
      font-family: Noto Serif;
      font-style: normal;
      font-weight: 200;
      font-size: 20px;
      line-height: 27px;
      margin-bottom: 15px;
    }
  }

  .messages-window {
    padding-top: 30px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    .no-chat-history {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 20px;
    }
    .loading {
      .trans-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
      }
    }
    @media screen and (min-width: 901px) {
      display: flex;

      .message-receivers {
        width: 200px;
        height: 100%;
        overflow: auto;
      }

      .message-content {
        width: calc(100% - 220px);
        height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
      }
    }

    @media screen and (max-width: 900px) {
      .message-receivers {
        display: flex;
        align-items: center;
        overflow-x: scroll;
        overflow-y: hidden;
        margin: 0;

        .message-receiver {
          margin-right: 15px;
          padding: 4px;
        }
      }

      .submit-action {
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0;
        background: $color-white;
        padding-bottom: 10px;
      }
      .btn-container {
        display: none !important;
      }
    }

    .message-receivers {
      margin-right: 20px;

      .message-receiver {
        box-sizing: border-box;
        border-radius: 11px;
        margin-bottom: 15px;
        cursor: pointer;
        padding: 4px;
        border-radius: 20px;

        &.active {
          border: 1.5px solid $color-magenta;
          filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.01));
        }

        .message-inner {
          display: flex;
          align-items: center;
          padding: 13px 25.76px;
          box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.01);
          border: 0.5px solid $color-grey3;
          border-radius: 16px;
          background: $color-white;
          position: relative;
          .badge {
            position: absolute;
            width: 20px;
            height: 20px;
            background-color: red;
            color: $color-white;
            top: 0px;
            right: 1px;
            border-radius: 50%;
            text-align: center;
            font-size: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        img,
        .no-avatar {
          width: 44px;
          height: 44px;
          border-radius: 50%;
          margin-right: 25px;
          flex: 0 0 44px;
        }
        .no-avatar {
          display: flex;
          border: 1px solid gray;
          span {
            margin: auto;
            font-size: 20px;
          }
        }
        p {
          font-family: Source Sans Pro;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
          color: $color-black;
        }
      }
    }

    .message-content {
      .btn-container {
        display: flex;
        justify-content: flex-end;
        margin-top: 15px;
        .send-message {
          height: 51px;
          padding: 15px 26px;
          color: $color-white;
          background-color: $color-magenta;
          border-radius: 9px;
          text-align: center;
          font-family: Source Sans Pro;
          font-style: normal;
          font-weight: 600;
          font-size: 0.75rem;
          line-height: 15px;
          outline: none;
          border: none;
          cursor: pointer;
          white-space: nowrap;
        }
      }
      .message-content-header {
        padding: 25px;
        background: $color-white;
        border: 0.5px solid $color-grey3;
        box-sizing: border-box;
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.01);
        border-radius: 15px 15px 0 0;
        border-bottom: 3px solid $color-grey3;
        margin-bottom: 28px;

        p {
          font-family: Source Sans Pro;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
        }

        @media screen and (max-width: 900px) {
          margin-bottom: 0;
        }
      }

      .messages {
        .load-prev-messages {
          text-align: center;
          margin-top: 10px;
          margin-bottom: 15px;
          font-family: Source Sans Pro;
          font-style: normal;
          font-weight: 400;
          font-size: 0.75rem;
          line-height: 20px;
        }
        @media screen and (max-width: 900px) {
          height: 350px;
          padding: 10px;
          background: $color-white;
          border: 0.5px solid $color-grey3;
          box-sizing: border-box;
          box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.01);
          border-bottom: 3px solid $color-grey3;
          overflow-x: hidden;
          overflow-y: scroll;

          .user-image {
            padding: 2px;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            border-radius: 50%;
            margin-right: 15px;

            img,
            .no-avatar {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              flex: 0 0 50px;
            }
            .no-avatar {
              display: flex;
              border: 1px solid gray;
              span {
                margin: auto;
                font-size: 20px;
              }
            }
          }

          .sender-message {
            .user-image {
              margin-left: 0px !important;
              margin-right: 10px !important;
            }
            .message-text {
              padding: 15px;
              &::before {
                top: 20px !important;
                border-width: 8px !important;
                left: -17px !important;
              }
              &::after {
                top: 21px !important;
                border-width: 9px !important;
                left: -15px !important;
              }
            }
          }

          .client-message {
            .user-image {
              margin-left: 10px !important;
              margin-right: 0px !important;
            }
            .message-text {
              padding: 15px;
              &::before {
                top: 20px !important;
                border-width: 8px !important;
                right: -17px !important;
              }
              &::after {
                top: 21px !important;
                border-width: 9px !important;
                right: -15px !important;
              }
            }
          }
        }

        @media screen and (min-width: 901px) {
          height: 100%;
          overflow: auto;
          .user-image {
            padding: 2px;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            border-radius: 50%;
            margin-right: 22px;

            img,
            .no-avatar {
              width: 80px;
              height: 80px;
              border-radius: 50%;
              flex: 0 0 80px;
            }
            .no-avatar {
              display: flex;
              border: 1px solid gray;
              span {
                margin: auto;
                font-size: 20px;
              }
            }
          }

          .message-text {
            padding: 25px;
          }
        }

        .message-item {
          display: flex;
          margin-bottom: 17px;

          &.client-message {
            flex-direction: row-reverse;
            .user-image {
              margin-left: 22px;
              margin-right: 0px;
              }
            .message-text {
              background: $color-white;
              margin-right: 20px;

              &::before {
                content: " ";
                position: absolute;
                width: 0;
                height: 0;
                left: auto;
                right: -23px;
                top: 37px;
                bottom: auto;
                border: 11px solid;
                border-color: $color-grey3 transparent transparent $color-grey3;
              }

              &::after {
                content: " ";
                position: absolute;
                width: 0;
                height: 0;
                left: auto;
                right: -20px;
                top: 38px;
                bottom: auto;
                border: 12px solid;
                border-color: $color-white transparent transparent $color-white;
              }
            }
          }

          &.sender-message {
            .user-image {
              margin-right: 22px;
              margin-left: 0px;
              }
            .message-text {
              background: #faf7ff;
              border: 0.5px solid rgba(106, 28, 234, 0.15);
              box-sizing: border-box;
              box-shadow: 0px 10px 30px rgba(106, 28, 234, 0.04);
              margin-left: 20px;

              &::before {
                content: " ";
                position: absolute;
                width: 0;
                height: 0;
                left: -23px;
                right: auto;
                top: 37px;
                bottom: auto;
                border: 11px solid;
                border-color: rgba(106, 28, 234, 0.15) rgba(106, 28, 234, 0.15) transparent transparent;
              }

              &::after {
                content: " ";
                position: absolute;
                width: 0;
                height: 0;
                left: -20px;
                right: auto;
                top: 38px;
                bottom: auto;
                border: 12px solid;
                border-color: #faf7ff #faf7ff transparent transparent;
              }
            }
          }

          .message-text {
            border: 0.5px solid $color-grey3;
            box-sizing: border-box;
            box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.015);
            border-radius: 8px;
            position: relative;

            p {
              font-family: Source Sans Pro;
              font-weight: 300;
              font-size: 14px;
              line-height: 18px;
              color: $color-black;
              line-break: anywhere;
            }
          }
        }
      }

      .message-input {
        background: $color-white;
        border: 0.5px solid $color-grey3;
        box-sizing: border-box;
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.025);
        border-top: 3px solid $color-grey3;
        border-radius: 0 0 15px 15px;
        padding: 27px 22px;
        display: flex;
        align-items: center;

        .user-image {
          padding: 2px;
          border: 1px solid $color-pale-blue;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          margin-right: 22px;

          img,
          .no-avatar {
            width: 44px;
            height: 44px;
            border-radius: 50%;
            flex: 0 0 44px;
          }
          .no-avatar {
            display: flex;
            border: 1px solid gray;
            span {
              margin: auto;
              font-size: 20px;
            }
          }
        }

        input {
          border: none;
          outline: none;
          width: 100%;

          &::placeholder {
            font-family: Source Sans Pro;
            font-style: italic;
            font-weight: 300;
            font-size: 14px;
            line-height: 18px;
            color: $color-black;
          }
        }
      }

      .action-part {
        text-align: right;

        @media screen and (max-width: 900px) {
          text-align: center;
        }
      }
    }
  }
}