@import './variable.scss';

.ws-notification::after {
    content: ' ';
    background-color: $color-red;
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    position: absolute;
    right: -2px;
    top: -2px;
}
.ws-notification-mobile {
    position: relative;
}

.ws-notification-mobile::after {
    content: ' ';
    background-color: $color-red;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 7px;
    position: absolute;
    right: -2px;
    top: -2px;
}

.ws-notification-bell::after {
    content: ' ';
    background-color: $color-red;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 7px;
    position: absolute;
    right: 7px;
    top: -4px;
}
.content .side-bar .link-list li {
    position: relative;
}