@import './variable.scss';

.subscription-card {
    width: 100%;
    color: white;
    font-family: 'Inter';
    padding: 8px 10px;
    border-radius: 10px;
    background-color: #6134af;
    .flag-content {
        background-size: 100% 100%;
        background-position: center;
        border-radius: 50%;
        background-repeat: no-repeat;
        width: 32px;
        height: 32px;
        background-image: url('../../assets/images/icon-clock.svg');
        background-color: rgb(232, 236, 22);    
    }
    .active {
        background-image: url('../../assets/images/white-checkmark.png');
        background-color: rgb(22, 236, 22);    
    }
}