@import './variable.scss';
.w33 {
  width: 33% !important;
}

.lesson_card-inline {
  display: flex;
  flex-wrap: wrap;
}

.tutor-desc {
  height: 94vh;
  overflow-y: scroll;
  padding-right: 10px;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6134af;
  border-radius: 10px;
}

.set_padd_lesson {
  padding: 20px 50px 0 50px !important;
}

.tutor_schedule_widths {
  height: 100vh;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.tutor_schedule_widths::-webkit-scrollbar {
  display: none;
}

.lessontext {
  margin-top: 0 !important;
}

.between {
  margin-left: -11px;
}

.align_schedule_texts {
  margin-left: -27px;
}

.tickmark {
  padding-top: 10px;
  margin-left: auto;
}

[alt='scheduleTick'] {
  margin-bottom: 0 !important;
}

.button_schedule {
  padding: 15px;
}

.schedule_set_tutor_container {
  max-width: 730px;
}

.tickNone {
  display: none;
}

.right-con-title {
  padding: 26px 15px 0;
}

.right-con-subtitle {
  padding: 0 15px;
}

.schedule-cards {
  padding: 31px 15px 0px 15px;
}

.schedule_changess {
  padding: 50px 65px;
}

.btn-custom {
  padding-left: 0 !important;
  padding-top: 40px !important;
}

.tutor_schedule_width {
  max-width: 1180px;
  width: 100%;
}

.schedule_height {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.schedule-overflow-scroll::-webkit-scrollbar {
  display: none;
}

.schedule_lesson_day {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.6px;
  color: #ffffff !important;
  background: #6133af !important;
  padding: 17px;
}

.schedule_lesson_day_unselect {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.6px;
  color: #261a45 !important;
  padding: 17px;
}

#profile-wrapper {
  background: $color-purple1;
  padding-top: 60px;
  padding-left: 40px;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 60%;
    height: 50%;
    right: 0;
    background: $color-white;
    z-index: 0;
  }
}

.learn-more-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: -0.6px;
  color: $color-light-grey;
}

#profile_image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 180px;
  height: 180px;
  border: 5px solid $color-white;
  border-radius: 8px;
  position: relative;
  z-index: 1;
  object-fit: cover;
}

.selct-time {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.7px;
  color: #261a45;
}

.make-appointment-modal {
  .modal-body {
    width: 100%;

    .info {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      img,
      .no-avatar {
        width: 100px;
        height: 100px;
        border-radius: 50%;
      }

      .no-avatar {
        display: flex;
        border: 1px solid gray;

        span {
          margin: auto;
          font-size: 20px;
        }
      }

      p {
        white-space: nowrap;
        text-align: center;
      }
    }
  }
}

.payment-page-layout {
  .sub-title {
    font-family: Noto Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    margin-top: 16px;
    margin-bottom: 28.87px;

    &:not(:first-child) {
      margin-top: 41px;
    }
  }

  .statistic {
    display: flex;
    gap: 24px;
    margin-top: 19px;
    margin-bottom: 42px;

    columns: 3;
    flex-wrap: wrap;

    @media screen and (max-width: 600px) {
      flex-direction: column;
    }

    .card {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 240px;

      @media screen and (max-width: 600px) {
        width: 100%;
      }

      .caption {
        font-family: Noto Serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
      }

      .box {
        background: $color-white;
        border: 0.5px solid $color-grey3;
        box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.01);
        border-radius: 16px;
        padding: 24px 25px;
        display: flex;
        flex-direction: column;
        border: 2px solid transparent;

        &:hover {
          border: 2px solid rgba(237, 28, 112, 0.3);
        }

        .hours-taught {
          &-label {
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 0.75rem;
            padding-bottom: 7px;
            border-bottom: 0.5px solid #dbdbdb;
            margin-bottom: 15px;
          }

          &-value {
            font-family: Noto Serif JP;
            font-style: normal;
            font-weight: bold;
            font-size: 26px;
            margin-bottom: 15px;

            span {
              font-size: 18px;
            }
          }
        }

        .earnings {
          &-label {
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 0.75rem;
            padding-bottom: 7px;
            border-bottom: 0.5px solid #dbdbdb;
            margin-bottom: 15px;
          }

          &-value {
            font-family: Noto Serif JP;
            font-style: normal;
            font-weight: bold;
            font-size: 26px;

            span {
              font-size: 18px;
            }
          }
        }
      }
    }
  }

  .payment-status {
    display: flex;
    align-items: center;

    img {
      margin-right: 5px;
    }

    span {
      font-family: Source Sans Pro;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: left;
    }
  }
}

.day-bar {
  height: 48px;
  margin-top: 36px;
  max-width: none;
}

p.daytxt {
  position: static;
  width: 75px;
  height: 24px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 24px;
  letter-spacing: -0.6px;
  color: #261a45;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: 100px;
  margin-top: -8px;
}

p.color-white {
  position: static;
  width: 75px;
  height: 24px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 24px;
  letter-spacing: -0.6px;
  color: #261a45;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: 100px;
  margin-top: -8px;
  color: $color-white;
}

.start-week {
  width: 312px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -1px;
  color: #261a45;
  margin-left: 115px;
  margin-right: 115px;
}

.purple-bg {
  background: #6133af;
}

.col-1.leftArrow {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 48px;
  color: $color-white;
  border-radius: 5px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.col-1.ps-3.rightArrow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  margin-left: -18px;
}

.leftArrow-btn {
  width: 45px;
}

.rightArrow-btn {
  width: 45px;
}

button.enter-btn.btn-dash-return.ms-0.back-btn-schedule {
  padding: 13px;
  width: 83px;
  height: 48px;
  margin-top: -6px;
  cursor: pointer;
}

// .time-card {
//   width: 331px;
//   height: 120px;
//   left: 1020px;
//   top: 282px;
//   margin-left: 12px;
// }

.slot-con {
  width: 100%;
  height: 120px;
  display: flex;
  margin-left: -13px;
  margin-top: -7px;
}

.leftbtn-slot p {
  .schedule-card.small-card.lesson-container.pt-2 {
    width: 322px;
    height: 173px;
    left: 325px;
    top: 282px;
    padding: 0;
  }

  .row.customlabel {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 298px;
    left: 20px;
    top: 49.17%;
    bottom: 19.17%;
    margin-top: 26px;
  }

  .col-4.schedule-lesson-border.me-2.sublabel-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 10px;
    gap: 5px;
    width: 95%;
    height: 38px;
    background: $color-white;
    cursor: pointer;
  }

  .slot-right {
    position: static;
    width: 97px;
    height: 38px;
    left: 0px;
    top: 0px;
    background: #dedee1;
    border-radius: 8.125px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-right: 10px;
    margin-left: 10px;
  }

  .col-7.schedule-lesson-border.ms-2.sublabel-2 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 10px;
    gap: 5px;
    width: 95%;
    height: 38px;
    background: #6133af;
    position: static;
    width: 165px;
    height: 38px;
    left: 107px;
    top: 0px;
    background: $color-white;
    border: 1px solid #dedee1;
    border-radius: 8.125px;
    flex: none;
    order: 1;
    flex-grow: 0;
    color: $color-white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    margin-top: 5px;
    cursor: pointer;
  }

  .slot-text {
    width: 212px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 24px;
    letter-spacing: -0.6px;
    color: #261a45;
    margin-left: -32px;
    margin-top: 10px;
  }

  .back-btn-schedule img {
    margin-right: 5px;
  }

  .schedule-overflow-scroll.slot-scroll {
    margin-top: 20px;
  }

  .right-con-title {
    margin-bottom: 48px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    align-items: center;
    letter-spacing: -0.6px;
    color: $color-black;
  }

  .right-con-subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    align-items: center;
    letter-spacing: -0.6px;
    color: #7048e8;
    margin-top: -44px;
  }

  .cursor {
    cursor: pointer;
  }

  @media screen and (min-width: 250px) and (max-width: 1300px) {
    .flex-container {
      display: block;
    }

    .availability-wrapper {
      width: 100%;
    }

    .lesson-wrapper {
      width: 100%;
    }

    .day-selector {
      width: 100%;
    }

    .col-1.ps-3.rightArrow {
      margin-left: 50px;
    }

    .start-week {
      margin: 0px 225px;
    }

    .schedule-overflow-scroll.slot-scroll {
      margin-top: -6px;
    }

    .slot-right {
      width: 52%;
    }
  }

  @media screen and (min-width: 280px) and (max-width: 359px) {
    .col-1.ps-3.rightArrow {
      margin-left: -18px;
    }

    .start-week {
      font-size: 16px;
      margin: 0 1px;
      width: 118px;
    }

    .rightArrow-btn {
      margin-left: -39px;
    }

    .leftArrow-btn {
      margin-left: -30px;
    }

    p.daytxt {
      margin-left: 3px;
      font-size: 13px;
      text-align: center;
    }

    p.color-white {
      margin-left: 3px;
      font-size: 13px;
      text-align: center;
    }

    .title {
      margin-top: 19px;
      width: 0;
    }

    .slot-right {
      margin-left: 8px;
      margin-left: 12px;
    }

    .slot-scroll {
      margin-top: 12px;
      padding-right: 16px;
    }

    .day-bar {
      margin-top: 48px;
      width: 275px;
      margin-left: 2px;
    }

    .left-subtitle {
      margin-top: 30px;
      font-size: 18px;
    }

    .row.customDay-select {
      margin-top: 14px;
    }

    .slot-text {
      font-size: 19px;
    }

    .lelt-con {
      margin-top: 30px;
      font-size: 38px;
    }

    .leftArrow {
      margin-left: 13px;
    }

    .col-10.bar-resp {
      width: 165px;
    }

    .right-con-subtitle {
      margin-top: 104px;
      margin-bottom: 66px;
    }

    .time-card {
      width: 236px;
      margin-left: 18px;
    }

    .time-card-container {
      width: 100%;
      margin-left: -5px;
    }
  }

  @media screen and (min-width: 360px) and (max-width: 374px) {
    .time-card-container {
      width: 100%;
    }

    .time-card {
      width: 300px;

      margin-left: 12px;
    }

    .col-1.ps-3.rightArrow {
      margin-left: -22px;
    }

    .start-week {
      font-size: 23px;
      margin: 0px -55px;
    }

    .rightArrow-btn {
      margin-left: -38px;
    }

    .leftArrow-btn {
      margin-left: -21px;
    }

    p.daytxt {
      margin-left: 22px;
      text-align: center;
      font-size: 18px;
    }

    p.color-white {
      margin-left: 22px;
      text-align: center;
      font-size: 18px;
    }

    .slot-right {
      margin-left: 8px;
    }

    .slot-scroll {
      margin-top: 12px !important;
      padding-right: 16px;
    }

    .day-bar {
      margin-top: 48px !important;
      margin-left: 10px;
    }

    .lelt-con {
      width: 321px;
      font-size: 38px;
    }

    .right-con-title {
      margin-bottom: 48px;
      margin-top: 8px;
      margin-left: -9px;
    }

    .right-con-subtitle {
      margin-left: -9px;
    }
  }

  @media screen and (min-width: 375px) and (max-width: 489px) {
    .time-card-container {
      width: 100%;
    }

    .container.title-container {
      margin-left: 0px;
    }

    .col-1.ps-3.rightArrow {
      margin-left: -19px;
    }

    .start-week {
      font-size: 23px;
      margin: 0px -50px;
    }

    .slot-right {
      width: 52%;
    }

    .rightArrow-btn {
      margin-left: -42px;
    }

    .leftArrow-btn {
      margin-left: -25px;
    }

    .leftArrow {
      margin-left: -3px;
    }

    p.daytxt {
      margin-left: 13px;
      text-align: center;
    }

    p.color-white {
      margin-left: 13px;
      text-align: center;
    }

    .lelt-con {
      width: 331px;
      font-size: 39px;
    }

    .slot-right {
      margin-left: 8px;
    }

    .slot-scroll {
      margin-top: 12px !important;
    }

    .day-bar {
      margin-left: 13px;
    }
  }

  @media screen and (min-width: 390px) and (max-width: 411px) {
    .container.title-container {
      margin-left: 0px;
    }

    .col-1.ps-3.rightArrow {
      margin-left: -10px;
    }

    .start-week {
      font-size: 23px;
      margin: 0px -31px;
    }

    .slot-right {
      width: 52%;
    }

    .rightArrow-btn {
      margin-left: -34px;
    }

    .leftArrow-btn {
      margin-right: -25px;
    }

    .leftArrow {
      margin-left: -14px;
    }

    p.daytxt {
      margin-left: 21px;
      text-align: center;
    }

    p.color-white {
      margin-left: 21px;
      text-align: center;
    }

    .lelt-con {
      width: 342px;
      font-size: 39px;
    }

    .right-con-title {
      margin-left: -7px;
    }

    .slot-right {
      margin-left: 8px;
    }

    .row.container.ps-4.pe-0.day-bar {
      height: 48px;
      margin-top: 47px;
    }

    .right-con-subtitle {
      margin-left: -10px;
    }

    .schedule-overflow-scroll.slot-scroll {
      margin-top: -6px;
    }
  }

  @media screen and (min-width: 412px) and (max-width: 413px) {
    .container.title-container {
      margin-left: 0px;
    }

    .col-1.ps-3.rightArrow {
      margin-left: -20px;
    }

    .start-week {
      font-size: 23px;
      margin: 0px -33px;
    }

    .slot-right {
      width: 52%;
    }

    .rightArrow-btn {
      margin-left: -33px;
    }

    .leftArrow-btn {
      margin-left: -17px;
    }

    .leftArrow {
      margin-left: -3px;
    }

    p.daytxt {
      margin-left: 33px;
      text-align: center;
    }

    p.color-white {
      margin-left: 33px;
      text-align: center;
    }

    .lelt-con {
      width: 342px;
      font-size: 39px;
    }

    .slot-right {
      margin-left: 8px;
    }

    .slot-scroll {
      margin-top: 12px !important;
      padding-right: 16px;
      margin-left: 6px;
    }

    .row.container.ps-4.pe-0.day-bar {
      height: 48px;
      margin-top: 47px;
      margin-left: 11px;
    }

    .right-con-title {
      margin-left: -3px;
    }

    .right-con-subtitle {
      margin-left: -3px;
    }

    .schedule-overflow-scroll.slot-scroll {
      margin-top: -6px;
      padding-right: 5px;
    }
  }

  @media screen and (min-width: 414px) and (max-width: 500px) {
    .container.title-container {
      margin-left: 0px;
    }

    .col-1.ps-3.rightArrow {
      margin-left: 15px;
    }

    .start-week {
      font-size: 23px;
      margin: 0px -7px;
    }

    .slot-right {
      width: 52%;
    }

    .rightArrow-btn {
      margin-left: -59px;
    }

    .leftArrow {
      margin-left: -27px;
    }

    .leftArrow-btn {
      margin-right: -43px;
    }

    p.daytxt {
      margin-left: 33px;
      text-align: center;
    }

    p.color-white {
      margin-left: 33px;
      text-align: center;
    }

    .lelt-con {
      width: 342px;
      font-size: 39px;
    }

    .slot-right {
      margin-left: 8px;
    }

    .slot-scroll {
      margin-top: 12px !important;
      padding-right: 16px;
    }

    .time-card-container {
      margin-left: 8px;
    }
  }

  @media screen and (min-width: 501px) and (max-width: 539px) {
    .col-1.ps-3.rightArrow {
      margin-left: -13px;
    }

    .start-week {
      margin: 0px 20px;
    }

    .slot-right {
      width: 52%;
    }

    p.daytxt {
      margin-left: 45px;
    }

    p.color-white {
      margin-left: 45px;
    }

    .slot-right {
      margin-left: 3px;
    }
  }

  @media screen and (min-width: 540px) and (max-width: 599px) {
    .col-1.ps-3.rightArrow {
      margin-left: 0px;
    }

    .start-week {
      margin: 0px 32px;
    }

    .slot-right {
      width: 52%;
      margin-left: 12px;
    }

    p.daytxt {
      margin-left: 62px;
      text-align: center;
    }

    p.color-white {
      margin-left: 62px;
      text-align: center;
    }

    .slot-scroll {
      margin-top: 12px;
      padding-right: 5px;
      margin-left: 8px;
    }

    .time-card-container {
      width: 100%;
    }

    .leftArrow-btn {
      margin-left: -7px;
    }

    .rightArrow-btn {
      margin-left: -39px;
    }

    .day-bar {
      margin-left: -5px;
    }
  }

  @media screen and (min-width: 600px) and (max-width: 652px) {
    .title-container {
      margin-left: 0;
    }

    .col-1.ps-3.rightArrow {
      margin-left: -13px;
    }

    .start-week {
      margin: 0px 93px;
    }

    .slot-right {
      width: 52%;
    }

    .rightArrow-btn {
      margin-left: 192px;
    }
  }

  @media screen and (min-width: 653px) and (max-width: 666px) {
    .title-container {
      margin-left: 0;
    }

    .col-1.ps-3.rightArrow {
      margin-left: 0px;
    }

    .start-week {
      margin: 0px 93px;
    }

    .slot-right {
      width: 52%;
      margin-left: 12px;
    }

    .rightArrow-btn {
      margin-left: -13px;
    }

    .leftArrow-btn {
      margin-left: -2px;
    }

    p.daytxt {
      margin-left: 93px;
      text-align: center;
    }

    p.color-white {
      margin-left: 93px;
      text-align: center;
    }

    .time-card-container {
      width: 100%;
    }
  }

  @media screen and (min-width: 667px) and (max-width: 668px) {
    .title-container {
      margin-left: 0;
    }

    .col-1.ps-3.rightArrow {
      margin-left: 0px;
    }

    .start-week {
      margin: 0px 93px;
    }

    .slot-right {
      width: 52%;
      margin-left: 13px;
    }

    .rightArrow-btn {
      margin-left: -15px;
    }
  }

  @media screen and (min-width: 668px) and (max-width: 719px) {
    .container {
      margin-left: 0;
    }

    .col-1.ps-3.rightArrow {
      margin-left: -11px;
    }

    .start-week {
      margin: 0px 90px;
    }

    .slot-right {
      width: 52%;
    }

    .rightArrow-btn {
      margin-left: -12px;
    }

    .leftArrow-btn {
      margin-left: -27px;
    }
  }

  @media screen and (min-width: 720px) and (max-width: 739px) {
    .container {
      margin-left: 0;
    }

    .leftArrow {
      margin-left: -14px;
    }

    .col-1.ps-3.rightArrow {
      margin-left: 2px;
    }

    .start-week {
      margin: 0px 111px;
    }

    .slot-right {
      width: 52%;
      margin-left: 12px;
    }

    .rightArrow-btn {
      margin-left: -8px;
    }

    .back-btn-container {
      margin-left: -12px;
    }

    .right-con-title {
      margin-left: -17px;
    }

    .right-con-subtitle {
      margin-left: -17px;
    }

    p.daytxt {
      margin-left: 104px;
      text-align: center;
    }

    p.color-white {
      margin-left: 104px;
      text-align: center;
    }

    .schedule-overflow-scroll.slot-scroll {
      margin-top: -6px;
      padding-right: 11px;
    }
  }

  @media screen and (min-width: 740px) and (max-width: 767px) {
    .container {
      margin-left: 0;
    }

    .col-1.ps-3.rightArrow {
      margin-left: 4px;
    }

    .start-week {
      margin: 0px 129px;
    }

    .slot-right {
      width: 52%;
      margin-left: 12px;
    }

    .rightArrow-btn {
      margin-left: -8px;
    }

    .col-1.leftArrow {
      margin-left: -16px;
    }

    .back-btn-container {
      margin-left: -11px;
    }

    .right-con-title {
      margin-top: 0px;
      margin-bottom: 23px;
      margin-left: -12px;
    }

    .right-con-subtitle {
      margin-left: -13px;
      margin-top: -25px;
    }

    .schedule-overflow-scroll.slot-scroll {
      margin-top: -6px;
      padding-right: 5px;
      margin-left: 7px;
    }

    .row.container.pt-3.btn-custom {
      margin-left: 0px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 799px) {
    .col-1.ps-3.rightArrow {
      margin-left: 0px;
    }

    .start-week {
      margin: 0px 152px;
    }

    .slot-right {
      width: 52%;
      margin-left: 11px;
    }

    .rightArrow-btn {
      margin-left: -7px;
    }

    .leftArrow-btn {
      margin-left: -11px;
    }

    .schedule-overflow-scroll.slot-scroll {
      padding-right: 5px;
      overflow: auto;
    }
  }

  @media screen and (min-width: 800px) and (max-width: 819px) {
    .col-1.ps-3.rightArrow {
      margin-left: -3px;
    }

    .start-week {
      margin: 0px 187px;
    }

    .schedule-overflow-scroll.slot-scroll {
      margin-top: -6px;
      padding-right: 16px;
    }

    .slot-right {
      width: 52%;
    }

    .rightArrow-btn {
      margin-left: 256px;
    }
  }

  @media screen and (min-width: 820px) and (max-width: 843px) {
    .col-1.ps-3.rightArrow {
      margin-left: -3px;
    }

    .start-week {
      margin: 0px 171px;
    }

    .schedule-overflow-scroll.slot-scroll {
      margin-top: -6px;
      padding-right: 5px;
    }

    .slot-right {
      width: 52%;
      margin-left: 11px;
    }

    .rightArrow-btn {
      margin-left: 3px;
    }

    .leftArrow-btn {
      margin-left: -9px;
    }

    .lelt-con {
      margin-left: -27px;
    }

    .left-subtitle {
      margin-left: -27px;
    }
  }

  @media screen and (min-width: 844px) and (max-width: 850px) {
    .col-1.ps-3.rightArrow {
      margin-left: -3px;
    }

    .start-week {
      margin: 0px 187px;
    }

    .schedule-overflow-scroll.slot-scroll {
      margin-top: -6px;
      padding-right: 16px;
      margin-left: 7px;
    }

    .slot-right {
      width: 52%;
      margin-left: 12px;
    }

    .rightArrow-btn {
      margin-left: 4px;
    }

    .leftArrow-btn {
      margin-left: -18px;
    }

    .title-container {
      margin-left: 0px;
    }

    p.daytxt {
      margin-left: 130px;
      text-align: center;
    }

    p.color-white {
      margin-left: 130px;
      text-align: center;
    }
  }

  @media screen and (min-width: 851px) and (max-width: 895px) {
    .col-1.ps-3.rightArrow {
      margin-left: -3px;
    }

    .start-week {
      margin: 0px 187px;
    }

    .schedule-overflow-scroll.slot-scroll {
      margin-top: -6px;
      padding-right: 16px;
      margin-left: 7px;
    }

    .slot-right {
      width: 52%;
      margin-left: 12px;
    }

    .rightArrow-btn {
      margin-left: 4px;
    }

    .leftArrow-btn {
      margin-left: -18px;
    }

    .title-container {
      margin-left: 0px;
    }

    p.daytxt {
      margin-left: 130px;
      text-align: center;
    }

    p.color-white {
      margin-left: 130px;
      text-align: center;
    }

    .row.container.pt-3.btn-custom {
      padding-left: 60px;
      display: flex;
    }
  }

  @media screen and (min-width: 896px) and (max-width: 899px) {
    .col-1.ps-3.rightArrow {
      margin-left: 0px;
    }

    .start-week {
      margin: 0px 187px;
    }

    .schedule-overflow-scroll.slot-scroll {
      margin-top: -6px;
      padding-right: 16px;
    }

    .slot-right {
      width: 52%;
      margin-left: 12px;
    }

    .rightArrow-btn {
      margin-left: 0px;
    }

    .leftArrow-btn {
      margin-left: -24px;
    }

    .container.title-container {
      margin-left: 0;
    }

    .slot-scroll {
      margin-left: 10px;
    }

    p.daytxt {
      margin-left: 150px;
      text-align: center;
    }

    p.color-white {
      margin-left: 150px;
      text-align: center;
    }
  }

  @media screen and (min-width: 900px) and (max-width: 913px) {
    .col-1.ps-3.rightArrow {
      margin-left: -3px;
    }

    .start-week {
      margin: 0px 80px;
    }

    .schedule-overflow-scroll.slot-scroll {
      margin-top: -6px;
      padding-right: 5px;
    }

    .slot-right {
      width: 52%;
      margin-left: 12px;
    }

    .time-card {
      width: 268px;
      margin-left: 18px;
    }

    p.daytxt {
      margin-left: 82px;
      text-align: center;
    }

    p.color-white {
      margin-left: 82px;
      text-align: center;
    }

    .rightArrow-btn {
      margin-left: -17px;
    }
  }

  @media screen and (min-width: 914px) and (max-width: 1023px) {
    .col-1.ps-3.rightArrow {
      margin-left: 0px;
    }

    .start-week {
      margin: 0px 80px;
    }

    .schedule-overflow-scroll.slot-scroll {
      margin-top: -6px;
      padding-right: 15px;
    }

    .slot-right {
      width: 52%;
      margin-left: 14px;
    }

    p.daytxt {
      margin-left: 83px;
      text-align: center;
    }

    p.color-white {
      margin-left: 83px;
      text-align: center;
    }

    .right-con-title {
      margin-left: -10px;
    }

    .right-con-subtitle {
      margin-left: -10px;
    }

    .rightArrow-btn {
      margin-left: -16px;
    }

    .time-card {
      width: 276px;

      margin-left: 12px;
    }
  }

  @media screen and (min-width: 1024px) and (max-width: 1179px) {
    .availability-wrapper {
      width: 100%;
    }

    .lesson-wrapper {
      width: 100%;
    }

    .day-selector {
      width: 100%;
    }

    .time-card {
      width: 92%;
    }

    .col-1.ps-3.rightArrow {
      margin-left: 0px;
    }

    .rightArrow-btn {
      width: 45px;
      margin-left: -12px;
    }

    .leftArrow-btn {
      margin-left: -7px;
    }

    .start-week {
      margin: 0px 225px;
    }

    .schedule-overflow-scroll.slot-scroll {
      margin-top: -6px;
      padding-right: 5px;
      margin-left: 8px;
      overflow: auto;
    }

    .slot-right {
      width: 52%;
      margin-left: 12px;
    }

    .start-week {
      margin: 0px 114px;
    }
  }

  @media screen and (min-width: 1180px) and (max-width: 1215px) {
    .availability-wrapper {
      width: 100%;
    }

    .lesson-wrapper {
      width: 100%;
    }

    .day-selector {
      width: 100%;
    }

    .time-card {
      width: 90%;
    }

    .col-1.ps-3.rightArrow {
      margin-left: 0px;
    }

    .start-week {
      margin: 0px 225px;
    }

    .schedule-overflow-scroll.slot-scroll {
      margin-top: -6px;
      padding-right: 5px;
      margin-left: 6px;
    }

    .slot-right {
      width: 52%;
      margin-left: 11px;
    }

    .start-week {
      margin: 0px 190px;
    }

    .leftArrow-btn {
      margin-left: -13px;
    }

    .rightArrow-btn {
      margin-left: 0px;
    }

    p.daytxt {
      margin-left: 143px;
      text-align: center;
    }

    p.color-white {
      margin-left: 143px;
      text-align: center;
    }
  }

  @media screen and (min-width: 1280px) and (max-width: 1365px) {
    .availability-wrapper {
      width: 100%;
    }

    .lesson-wrapper {
      width: 100%;
    }

    .day-selector {
      width: 100%;
    }

    .time-card {
      width: 100%;
    }

    .col-1.ps-3.rightArrow {
      margin-left: 0px;
    }

    .start-week {
      margin: 0px 235px;
    }

    .schedule-overflow-scroll.slot-scroll {
      margin-top: -6px;
      padding-right: 5px;
      overflow: auto;
    }

    .slot-right {
      width: 52%;
    }

    .rightArrow-btn {
      margin-left: 11px;
    }

    .leftArrow-btn {
      margin-left: -29px;
    }

    p.daytxt {
      margin-left: 143px;
      text-align: center;
    }

    p.color-white {
      margin-left: 143px;
      text-align: center;
    }

    .col-6.time-card-container {
      width: 48%;
      margin-left: 8px;
    }
  }

  @media screen and (min-width: 1366px) and (max-width: 1367px) {
    .availability-wrapper {
      width: 100%;
    }

    .lesson-wrapper {
      width: 100%;
    }

    .day-selector {
      width: 100%;
    }

    .time-card {
      width: 65%;
    }

    .col-1.ps-3.rightArrow {
      margin-left: 2px;
    }

    .start-week {
      margin: 0px 235px;
      margin-left: 125px;
    }

    .schedule-overflow-scroll.slot-scroll {
      margin-top: -6px;
      padding-right: 5px;
    }

    .slot-right {
      width: 52%;
      margin-left: 12px;
    }

    .rightArrow-btn {
      margin-left: -11px;
    }

    p.daytxt {
      margin-left: 104px;
      text-align: center;
    }

    p.color-white {
      margin-left: 104px;
      text-align: center;
    }

    .col-6.time-card-container {
      width: 100%;
      margin-left: 8px;
    }

    .right-con-subtitle {
      width: 214px;
    }

    .leftArrow {
      margin-left: -3px;
    }
  }

  @media screen and (min-width: 1368px) and (max-width: 1499px) {
    .availability-wrapper {
      width: 100%;
    }

    .lesson-wrapper {
      width: 100%;
    }

    .day-selector {
      width: 100%;
    }

    .time-card {
      width: 90%;
    }

    .start-week {
      margin: 0px 32px;
    }

    .schedule-overflow-scroll.slot-scroll {
      margin-top: -6px;
      padding-right: 5px;
      overflow: auto;
    }

    .slot-right {
      width: 52%;
      margin-left: 12px;
    }

    .rightArrow-btn {
      margin-left: -27px;
    }

    .leftArrow-btn {
      margin-left: -7px;
    }

    p.daytxt {
      margin-left: 62px;
      text-align: center;
    }

    p.color-white {
      margin-left: 62px;
      text-align: center;
    }

    .day-bar {
      margin-left: 0;
    }

    .rightArrow {
      margin-left: -10px;
    }
  }

  @media screen and (min-width: 1500px) and (max-width: 4000px) {
    .availability-wrapper {
      width: 100%;
    }

    .lesson-wrapper {
      width: 100%;
    }

    .day-selector {
      width: 100%;
    }

    .time-card-container {
      width: 49%;
      margin-left: 7px;
    }

    .start-week {
      margin: 0px 160px;
    }

    .schedule-overflow-scroll.slot-scroll {
      margin-top: -6px;
      padding-right: 5px;
      overflow: auto;
    }

    .slot-right {
      width: 52%;
      margin-left: 12px;
    }

    .col-1.ps-3.rightArrow {
      margin-left: 7px;
    }

    .rightArrow-btn {
      margin-left: 0px;
    }

    p.daytxt {
      margin-left: 125px;
      text-align: center;
    }

    p.color-white {
      margin-left: 125px;
      text-align: center;
    }

    .leftArrow {
      margin-left: -7px;
    }
  }

  margin-right: 10px;
  margin-left: 10px;
}

h1.text-black.lessontext,
h1.text-purple.lessontext {
  position: absolute;
  left: 2.21%;
  right: 72.98%;
  top: 16.67%;
  bottom: 63.33%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.6px;
  color: #261a45;
}

.colon-color {
  color: #261a45;
}

p.text-end.text-danger.mb-1.mt-text {
  margin-top: 53px;
}

.col-md-6.pe-4.main-container {
  padding-bottom: 36px;
}

p.text-end.text-danger.mb-1.mt-text.expires {
  height: 18px;
  left: 348px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: -0.6px;
  color: #261a45;
  margin-left: -11px;
  margin-top: 69px;
}

p.m-2.inner-txt.sublabel2-txt {
  color: #261a45;
}

.ExpWidth-con {
  margin-top: 25px;
}

.title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1px;
  color: #261a45;
}

p.m-2.inner-txt {
  position: static;
  height: 18px;
  left: 10px;
  top: 10px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: -0.6px;
  color: $color-black;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-right: 5px;
  margin-left: 5px;
}

.row.container.subWidth {
  width: 314px;
}

button.enter-btn.btn-dash-return.ms-0 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
  position: static;
  width: 178px;
  height: 48px;
  left: 0px;
  top: 0px;
  background: $color-white;
  border: 1px solid #dedee1;
  border-radius: 5px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-right: 20px;
  margin-left: 20px;
  font-family: 'Inter';
}

button.enter-btn.btn-primary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px;
  position: static;
  width: 113px;
  background: $color-purple1;
  border-radius: 5px;
  flex: none;
  order: 1;
  font-family: 'Inter';
  white-space: nowrap;
}

span.tickmark {
  margin-left: 87.58%;
  margin-top: -7px;
}

span.tickmark img {
  margin-bottom: 0;
}

span.tickNone {
  margin-left: 87.58%;
  visibility: hidden;
}

span.tickNone img {
  margin-bottom: 0;
}

span.exp-txt {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: -0.6px;
  color: #261a45;
}

span.exp-date {
  height: 18px;
  left: 402px;
  top: 417px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: -0.6px;
  color: #d6336c;
  margin-top: 2px;
}

.custom-btn-primary span {
  height: 18px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.2px;
  color: $color-white;
  flex: none;
  order: 0;
  flex-grow: 0;
}

span.continue-arrow {
  margin-top: 2px;
  margin-left: 6px;
}

@media screen and (min-width: 250px) and (max-width: 300px) {
  button.enter-btn.btn-dash-return.ms-0 {
    width: 98px;
    margin-bottom: 10px;
  }

  button.enter-btn.btn-primary {
    width: 71px;
    margin-top: 1px;
    margin-left: 9px;
  }
}

@media screen and (min-width: 280px) and (max-width: 281px) {
  button.enter-btn.btn-primary {
    width: 98px;
    margin-top: 1px;
    margin-left: 16px;
  }

  .content .scroll-layout {
    overflow: hidden;
  }

  .row.customlabel {
    display: block;
    margin-top: 14px;
  }

  .col-4.schedule-lesson-border.me-2.sublabel-1 {
    width: 192px;
    margin-bottom: 5px;
  }

  .col-7.schedule-lesson-border.ms-2.sublabel-2 {
    width: 192px;
  }

  p.text-end.text-danger.mb-1.mt-text.expires {
    margin-left: 37px;
    margin-top: 78px;
  }

  span.tickmark {
    margin-left: 87.58%;
    margin-top: -7px;
  }

  h1.text-black.lessontext,
  h1.text-purple.lessontext {
    margin-left: -5px;
  }
}

@media screen and (min-width: 301px) and (max-width: 338px) {
  button.enter-btn.btn-dash-return.ms-0 {
    width: 149px;
  }

  button.enter-btn.btn-dash-return.ms-0 {
    width: 97px;
    margin-bottom: 10px;
  }

  button.enter-btn.btn-primary {
    width: 93px;
    margin-top: 1px;
    margin-left: 9px;
  }
}

@media screen and (min-width: 339px) and (max-width: 359px) {
  button.enter-btn.btn-dash-return.ms-0 {
    width: 149px;
  }

  button.enter-btn.btn-dash-return.ms-0 {
    width: 114px;
    margin-bottom: 10px;
  }

  button.enter-btn.btn-primary {
    width: 114px;
    margin-top: 1px;
    margin-left: 9px;
  }
}

@media screen and (min-width: 360px) and (max-width: 374px) {
  .row.container.pt-3.btn-custom {
    margin-left: -15px;
    width: 400px;
  }

  button.enter-btn.btn-primary {
    width: 98px;
    margin-top: 1px;
    margin-left: 22px;
  }

  .content .scroll-layout {
    // overflow: hidden;
  }

  p.text-end.text-danger.mb-1.mt-text.expires {
    margin-left: -8px;
  }

  span.tickmark {
    margin-left: 87.58%;
    margin-top: -7px;
  }

  .ExpWidth-con {
    margin-left: -5px;
  }
}

@media screen and (min-width: 375px) and (max-width: 389px) {
  .row.container.pt-3.btn-custom {
    margin-left: -7px;
    width: 400px;
  }

  button.enter-btn.btn-primary {
    width: 98px;
    margin-left: 22px;
  }

  .content .scroll-layout {
    // overflow: hidden;
  }

  p.text-end.text-danger.mb-1.mt-text.expires {
    margin-left: -8px;
  }

  span.tickmark {
    margin-left: 87.58%;
    margin-top: -7px;
  }

  .ExpWidth-con {
    margin-top: 25px;
    margin-left: 2px;
  }
}

@media screen and (min-width: 390px) and (max-width: 392px) {
  .row.container.pt-3.btn-custom {
    width: 400px;
  }

  button.enter-btn.btn-primary {
    width: 98px;
    margin-top: 1px;
    margin-left: 22px;
  }

  .content .scroll-layout {
    overflow: hidden;
  }

  p.text-end.text-danger.mb-1.mt-text.expires {
    margin-left: -8px;
  }

  span.tickmark {
    margin-left: 87.58%;
    margin-top: -7px;
  }

  .ExpWidth-con {
    margin-top: 25px;
    margin-left: 7px;
  }
}

@media screen and (max-width: 1200px) {
  .flex-right {
    width: 100%;
    padding: 0 50px;
  }

  .flex-left {
    width: 100%;
  }

  .mobile-view-buttons {
    margin-left: 6px;
  }

  .titles_align_desktop {
    padding: 0;
  }
}

@media screen and (max-width: 901px) {
  .mobile-view-buttons {
    margin-left: -6px;
  }

  .mobile_align_dash {
    margin-bottom: 20px;
  }
}

// min-width: fit-content;
// margin-left: 37px;
@media screen and (min-width: 393px) and (max-width: 411px) {
  .row.container.pt-3.btn-custom {
    display: block;
    margin-left: -27px;
    width: 400px;
    margin-top: -35px;
  }

  button.enter-btn.btn-dash-return.ms-0 {
    width: 100%;
  }

  button.enter-btn.btn-primary {
    width: 100%;
    margin-top: 1px;
    margin-left: 2px;
  }

  .content .scroll-layout {
    // overflow: hidden;
  }

  p.text-end.text-danger.mb-1.mt-text.expires {
    margin-left: -8px;
  }

  span.tickmark {
    margin-left: 87.58%;
    margin-top: -7px;
  }

  .ExpWidth-con {
    margin-top: 25px;
  }

  .content .children-wrapper {
    padding: 25px;
  }
}

@media screen and (min-width: 412px) and (max-width: 415px) {
  .row.container.pt-3.btn-custom {
    margin-left: 0px;
  }

  button.enter-btn.btn-primary {
    width: 102px;
    margin-top: 4px;
    margin-left: 21px;
  }

  .content .scroll-layout {
    overflow: hidden;
  }

  p.text-end.text-danger.mb-1.mt-text.expires {
    margin-top: 78px;
  }

  span.tickmark {
    margin-left: 87.58%;
    margin-top: -7px;
  }

  h1.text-black.lessontext,
  h1.text-purple.lessontext {
    margin-left: 2px;
  }
}

@media screen and (min-width: 425px) and (max-width: 439px) {
  .row.container.pt-3.btn-custom {
    margin-left: 16px;
  }
}

@media screen and (min-width: 540px) and (max-width: 575px) {
  .ExpWidth-con {
    margin-top: 25px;
    margin-left: 37px;
  }

  .row.container.pt-3.btn-custom {
    margin-left: 69px;
    width: 400px;
  }

  button.enter-btn.btn-primary {
    // width: 102px;
    margin-top: 1px;
    margin-left: 21px;
  }

  .content .scroll-layout {
    // overflow: hidden;
  }

  h1.text-black.lessontext,
  h1.text-purple.lessontext {
    margin-left: 2px;
  }

  p.text-end.text-danger.mb-1.mt-text.expires {
    margin-left: -2px;
  }
}

@media screen and (min-width: 576px) and (max-width: 666px) {
  .row.container.pt-3.btn-custom {
    margin-left: 54px;
  }
}

@media screen and (min-width: 667px) and (max-width: 719px) {
  .row.container.pt-3.btn-custom {
    margin-left: 14px;
  }

  .ExpWidth-con {
    margin-left: 15px;
  }
}

@media screen and (min-width: 720px) and (max-width: 767px) {
}

@media screen and (min-width: 844px) and (max-width: 896px) {
  .col-md-6.pe-4.main-container {
    padding-left: 34px;
  }

  .ExpWidth-con {
    margin-top: 25px;
    width: 100%;
  }
}

@media screen and (min-width: 901px) and (max-width: 991px) {
  .content .scroll-layout {
    height: 100%;
    min-height: 100%;
    overflow: auto;
  }
}

@media screen and (min-width: 992px) and (max-width: 1023px) {
  .col-md-6.col-lg-4.pe-4.main-container {
    flex: 0 0 auto;
    width: 50%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1199px) {
  .col-md-6.col-lg-4.pe-4.main-container {
    flex: 0 0 auto;
    width: 50%;
  }

  .content .scroll-layout {
    height: 100%;
    min-height: 100%;
    // overflow: hidden;
  }

  .ExpWidth-con {
    margin-top: -37px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1355px) {
  .container {
    margin-left: initial;
  }

  .col-md-6.col-lg-4.pe-4.main-container {
    flex: 0 0 auto;
    width: 50%;
  }

  .row.container.pt-3.btn-custom {
    margin-left: 0px;
  }

  .ExpWidth-con {
    margin-top: -38px;
  }
}

@media screen and (min-width: 1356px) and (max-width: 1367px) {
  .container {
    margin-left: initial;
  }

  .col-md-6.col-lg-4.pe-4.main-container {
    flex: 0 0 auto;
    width: 33%;
  }

  .row.container.pt-3.btn-custom {
    margin-left: 0px;
  }

  .content .scroll-layout {
    height: 100%;
    min-height: 100%;
    overflow: hidden;
  }

  .ExpWidth-con {
    margin-top: -38px;
  }
}

@media screen and (min-width: 1368px) and (max-width: 3000px) {
  .container {
    margin-left: initial;
  }

  .col-md-6.col-lg-4.pe-4.main-container {
    flex: 0 0 auto;
    width: 33%;
  }

  .row.container.pt-3.btn-custom {
    margin-left: 0px;
  }

  .content .scroll-layout {
    height: 100%;
    min-height: 100%;
    // overflow: hidden;
  }
}

@media screen and (min-width: 901px) {
  .btn-custom {
    padding-left: 3rem;
  }
}

.schedule-lesson {
  .custom-children-container {
    margin: 0;
    height: 100%;
    max-width: 1300px;

    @media screen and (max-width: 900px) {
      max-width: 100% !important;
    }

    @media screen and (max-width: 600px) {
      padding: 28px !important;
    }

    @media screen and (max-width: 393px) {
      padding: 20px !important;
    }

    @media screen and (max-width: 375px) {
      padding: 28px !important;
    }
  }

  @media screen and (max-width: 375px) {
    width: 375px;
  }

  @media screen and (max-width: 280px) {
    width: 277px;
  }

  .main-container {
    &.col-md-6.col-lg-4.pe-4 {
      width: 33%;

      @media screen and (max-width: 1400px) {
        width: 40%;
      }

      @media screen and (max-width: 1150px) {
        width: 100%;
      }

      @media screen and (max-width: 1149px) {
        width: 50%;
      }

      @media screen and (max-width: 990px) {
        width: 100%;
      }

      @media screen and (max-width: 900px) {
        width: 50%;
      }

      @media screen and (max-width: 768px) {
        width: 50%;
      }

      @media screen and (max-width: 740px) {
        width: 100%;
      }
    }

    &.schedule-lesson {
      margin-left: 0;
      padding-left: 0;
      padding-bottom: 0;

      @media screen and (max-width: 1024px) {
        width: 50%;
      }
    }
  }

  .title_aligns_slesson {
    font-size: 30px;

    @media screen and (max-width: 280px) {
      font-size: 25px;
    }
  }

  .lessontext {
    color: #261a45 !important;
  }

  .flex-left {
    padding-left: 0px;

    @media screen and (max-width: 393px) {
      padding-left: 20px;
    }

    @media screen and (max-width: 390px) {
      padding-left: 0px;
    }

    @media screen and (max-width: 375px) {
      padding-left: 0px;
    }
  }

  .schedule-card {
    padding: 0;
    width: 322px;
    height: auto;
    background: #ffffff;
    border: 1px solid #dedee1;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 18px;
    margin-left: 0;

    @media screen and (max-width: 393px) {
      margin: 0 auto 25px;
    }

    @media screen and (max-width: 280px) {
      height: 254px;
      width: 226px;
      margin-left: -11px;
    }
  }

  h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.6px;
    color: #261a45;
  }

  .remaining-lsn {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
    text-align: center;
    color: #261a45;
    width: fit-content;
    background: #ffffff;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #dedee1;
    border-radius: 5px;
    padding-top: 0.4rem;
    padding-bottom: 0.54em;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .time_remaining {
    margin-right: 0.5rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #6133af;
    align-items: center;
    padding-top: 0.4rem;
    padding-bottom: 0.54em;
    padding-left: 0.8rem;
    margin-top: 0.5rem;
    padding-right: 0.8rem;
    background: #ebe4ff;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;

    @media screen and (max-width: 280px) {
      width: 98%;
    }
  }

  .exp-txt {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-transform: capitalize;
    color: #d6336c;
    background: #ffdbe8;
    mix-blend-mode: multiply;
    border-radius: 8px;
    padding: 5px 27px 5px 27px;
    gap: 10px;
    width: 100%;
    height: 38px;
    margin-left: -2px;

    @media screen and (max-width: 280px) {
      width: 68%;
      margin-left: 44px;
    }
  }

  .exp-txt-purple {
    background: #ebe4ff;
    color: #6133af;
  }

  .exp-pad {
    padding: 5px 65px 5px 65px;

    @media screen and (max-width: 280px) {
      padding: 5px 20px 5px 20px;
    }
  }

  .row.customlabel {
    margin-top: 25px;

    @media screen and (max-width: 412px) {
      margin-top: 30px;
    }

    @media screen and (max-width: 280px) {
      display: flex;
      margin-left: -13px;
    }
  }

  .expiry-days {
    margin: 0;
    width: 277px;
    margin-top: 11px;
    margin-right: 0px;
    padding: 2px;
    margin-left: 2px;
  }

  .container-fluid {
    padding: 0px 29px 0px 34px; // padding: 0px 35px 0px 35px;
    margin-top: 28px;

    @media screen and (max-width: 914px) {
      // margin-left: 12px;
    }

    @media screen and (max-width: 280px) {
      margin-left: 0px;
      margin-top: 14px;
    }
  }

  hr.line {
    max-width: 320px;
    width: 100%;
    background-color: #dedee1;
    border: 0 none;
    color: #dedee1;
    height: 1px;

    @media screen and (max-width: 280px) {
      width: 224px;
    }
  }

  h1.text-purple.lessontext,
  h1.text-black.lessontext {
    justify-content: flex-start;
    margin-left: -7px;

    @media screen and (max-width: 412px) {
      margin-left: -7px;
    }
  }

  .lessontext {
    justify-content: flex-start;
    margin-left: -7px;

    @media screen and (max-width: 414px) {
      justify-content: flex-start;
    }
  }

  .row.container.pt-3.btn-custom {
    padding-left: 0px;
    margin-left: 0;
    padding-top: 0;

    @media screen and (max-width: 393px) {
      padding-left: 20px !important;
      margin-left: 0;
    }
  }

  .btn-custom {
    @media screen and (max-width: 851px) {
      padding-left: 60px;
    }

    @media screen and (max-width: 720px) {
      margin-left: 23px;
    }

    @media screen and (max-width: 667px) {
      margin-left: 18px;
    }

    @media screen and (max-width: 653px) {
      margin-left: -10px;
    }

    @media screen and (max-width: 412px) {
      padding-left: 35px;
    }

    @media screen and (max-width: 393px) {
      flex-direction: column;
      padding-left: 0px;
      margin-left: 17px;
    }

    @media screen and (max-width: 280px) {
      flex-direction: column;
      padding-left: 0px;
      margin-left: 17px;
    }
  }

  .children-wrapper {
    padding: 8px 0px 0px 25px;
    margin-left: 0px;
  }

  .ExpWidth {
    display: grid;
    column-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    margin-left: 0;

    @media screen and (max-width: 767px) {
      max-width: 100%;
    }
  }

  .button_schedule {
    @media screen and (max-width: 600px) {
      margin-left: initial !important;
      margin-right: initial !important;
    }

    @media screen and (max-width: 375px) {
      margin-left: auto !important;
      margin-right: auto !important;
    }
  }

  button.enter-btn.btn-dash-return.ms-0 {
    width: 92%;
    max-width: 330px;

    @media screen and (max-width: 540px) {
      width: 90%;
      max-width: 320px;
    }

    @media screen and (max-width: 414px) {
      width: 90%;
    }

    @media screen and (max-width: 390px) {
      width: 96%;
    }

    @media screen and (max-width: 375px) {
      width: 100%;
    }

    @media screen and (max-width: 280px) {
      width: 98%;
    }
  }

  button.enter-btn.btn-primary {
    width: 92%;
    margin-left: 0;

    @media screen and (max-width: 540px) {
      width: 90%;
      max-width: 320px;
    }

    @media screen and (max-width: 414px) {
      width: 90%;
    }

    @media screen and (max-width: 390px) {
      width: 96%;
    }

    @media screen and (max-width: 375px) {
      width: 100%;
    }

    @media screen and (max-width: 280px) {
      width: 98%;
      margin-left: 0;
    }
  }

  .ExpWidth-con {
    margin-left: 0;
    margin-top: 15px;

    @media screen and (max-width: 280px) {
      padding: 8px;
    }
  }
}

.review-tutor-lesson-modal {
  z-index: 10000;
  max-width: 700px;
  background: $color-white;
  border: $color-border-grey 1px solid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 25px 50px;

  h3 {
    color: $color-dark-violet;
    margin: 0;
    font-size: 20px;
  }
  h4 {
    color: $color-dark-violet;
    margin: 0;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
  }
  p {
    margin: 0;
    color: $color-light-grey;
    font-size: 15px;
  }

  input[type='text'] {
    outline-offset: -2px;
    border: none;
    border-bottom: 2px solid $color-purple;
    background: none;
    width: 15px;
    font-weight: bold;
    font-size: 15px;
    color: $color-purple;
  }

  .title-input {
    border: none;
    border: 1px solid $color-border-grey !important;
    border-radius: 10px;
    padding: 10px;
    width: 100% !important;
    margin-bottom: 10px;
    margin-top: 20px;
  }

  .subject-info {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
      display: flex;
      gap: 20px;
      img {
        height: 50px;
        width: 50px;
      }
      h1 {
        font-size: 30px;
        color: $color-dark-violet;
        margin: 0;
      }
    }
    span {
      color: $color-light-grey;
      font-size: 15px;
      font-weight: bold;
      background: #ebe4ff;
      color: $color-purple;
      border-radius: 10px;
      padding: 6px 24px;
    }
  }
  .modal-footer {
    height: 100%;
    display: flex;
    gap: 10px;
    .buttons {
      display: flex;
      flex: 1;
      gap: 10px;

      button[type='submit'] {
        margin-bottom: auto;
        display: block;
        margin-top: 20px;
        padding: 5px 10px;
        border-radius: 5px;
        background: $color-purple;
        color: $color-white;
        font-weight: bold;
        font-size: 15px;
      }
      .close {
        margin-bottom: auto;
        display: block;
        margin-top: 20px;
        padding: 5px 10px;
        border-radius: 5px;
        background: none;
        border: 1px $color-border-grey solid;
        font-weight: bold;
        font-size: 15px;
      }
    }
    .attendance {
      flex: 1;
      h4 {
        text-align: center;
        justify-content: center;
      }
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .body {
    padding: 0 5px;

    h1 {
      margin-top: 25px;
      color: $color-dark-purple;
    }

    textarea {
      resize: none;
      border: 1px solid $color-border-grey;
      height: 120px;
      border-radius: 5px;
      padding: 15px;
      font-size: 15px;
      font-weight: 500;
      font-family: inherit;
      margin: 0;
      line-height: 20px;
      &::placeholder {
        color: $color-light-grey;
      }
    }
  }
}

.review-tutor-lesson-modal-overlay {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  backdrop-filter: brightness(0.2);
}

.review-tutor-modal-open {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.no_mentors {
  width: 100%;
  display: block;
  text-align: center;
  color: $color-light-grey2;
  text-transform: uppercase;
}
