@import './variable.scss';
.set_padd_lesson {
  padding: 20px 50px 0 50px !important;
}
.tutor_schedule_widths {
  height: 100vh;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.tutor_schedule_widths::-webkit-scrollbar {
  display: none;
}
.lessontext {
  margin-top: 0 !important;
}
.between {
  margin-left: -11px;
}
.align_schedule_texts {
  margin-left: -27px;
}
.tickmark {
  padding-top: 10px;
  margin-left: auto;
}
[alt='scheduleTick'] {
  margin-bottom: 0 !important;
}
.button_schedule {
  padding: 15px;
}
.schedule_set_tutor_container {
  max-width: 730px;
}
.schedule_height {
  height: 100vh;
}
.tickNone {
  display: none;
}
.right-con-title {
  padding: 26px 15px 0;
}
.right-con-subtitle {
  padding: 0 15px;
}
.schedule-cards {
  padding: 31px 15px 0px 15px;
}
.schedule_changess {
  padding: 50px 65px;
}
.btn-custom {
  padding-left: 0 !important;
  padding-top: 40px !important;
}
.tutor_schedule_width {
  max-width: 1180px;
  width: 100%;
}
.schedule_height {
  height: 100vh;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.schedule-overflow-scroll::-webkit-scrollbar {
  display: none;
}
.schedule_lesson_day {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.6px;
  color: #ffffff !important;
  background: #6133af !important;
  padding: 17px;
}
.schedule_lesson_day_unselect {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.6px;
  color: #261a45 !important;
  padding: 17px;
}
#profile-wrapper {
  background: $color-purple1;
  padding-top: 60px;
  padding-left: 40px;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 60%;
    height: 50%;
    right: 0;
    background: $color-white;
    z-index: 0;
  }
}
.learn-more-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: -0.6px;
  color: $color-light-grey;
}

#profile_image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 180px;
  height: 180px;
  border: 5px solid $color-white;
  border-radius: 8px;
  position: relative;
  z-index: 1;
}
.selct-time {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.7px;
  color: #261a45;
}
.make-appointment-modal {
  .modal-body {
    width: 100%;

    .info {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      img,
      .no-avatar {
        width: 100px;
        height: 100px;
        border-radius: 50%;
      }
      .no-avatar {
        display: flex;
        border: 1px solid gray;

        span {
          margin: auto;
          font-size: 20px;
        }
      }
      p {
        white-space: nowrap;
        text-align: center;
      }
    }
  }
}
.payment-page-layout {
  .sub-title {
    font-family: Noto Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    margin-top: 16px;
    margin-bottom: 28.87px;
    &:not(:first-child) {
      margin-top: 41px;
    }
  }
  .statistic {
    display: flex;
    gap: 24px;
    margin-top: 19px;
    margin-bottom: 42px;

    columns: 3;
    flex-wrap: wrap;
    @media screen and (max-width: 600px) {
      flex-direction: column;
    }
    .card {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 240px;
      @media screen and (max-width: 600px) {
        width: 100%;
      }
      .caption {
        font-family: Noto Serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
      }
      .box {
        background: $color-white;
        border: 0.5px solid $color-grey3;
        box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.01);
        border-radius: 16px;
        padding: 24px 25px;
        display: flex;
        flex-direction: column;
        border: 2px solid transparent;

        &:hover {
          border: 2px solid rgba(237, 28, 112, 0.3);
        }
        .hours-taught {
          &-label {
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 0.75rem;
            padding-bottom: 7px;
            border-bottom: 0.5px solid #dbdbdb;
            margin-bottom: 15px;
          }
          &-value {
            font-family: Noto Serif JP;
            font-style: normal;
            font-weight: bold;
            font-size: 26px;
            margin-bottom: 15px;
            span {
              font-size: 18px;
            }
          }
        }
        .earnings {
          &-label {
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 0.75rem;
            padding-bottom: 7px;
            border-bottom: 0.5px solid #dbdbdb;
            margin-bottom: 15px;
          }
          &-value {
            font-family: Noto Serif JP;
            font-style: normal;
            font-weight: bold;
            font-size: 26px;
            span {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
  .payment-status {
    display: flex;
    align-items: center;

    img {
      margin-right: 5px;
    }

    span {
      font-family: Source Sans Pro;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: left;
    }
  }
}
